@attribute [Route(AppRoutes.Administration.RobotCertificates.Detail)]
@attribute [Authorize (Policy = Permissions.Administration.RobotCertificates.Read)]

<PageHeader Title="Robot Certificates">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Administration.RobotCertificates.Index" />
      <h2 class="page-title">
        Robot Certificates
      </h2>
    </div>
  </div>
</PageHeader>

@if (RobotCertificate != null)
{
  <PageBody>
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Robot Certificate Detail</h3>
          </div>
          <div class="card-body">
            <div class="mb-3 row">
              <label class="col-3 col-form-label">ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@RobotCertificate.Id</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Robot ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@RobotCertificate.Robot!.Id</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Robot Name</label>
              <div class="col">
                <div class="col form-control-plaintext">@(RobotCertificate.Robot.Name)</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Thumbprint</label>
              <div class="col">
                <div class="col form-control-plaintext">@RobotCertificate.Thumbprint</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Thumbprint Backup</label>
              <div class="col">
                <div class="col form-control-plaintext">@(RobotCertificate.ThumbprintBackup ?? "-")</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Invalid Before</label>
              <div class="col">
                <div class="col form-control-plaintext">@UiHelper.TimeToString(RobotCertificate.NotBefore)</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Invalid After</label>
              <div class="col">
                <div class="col form-control-plaintext">@UiHelper.TimeToString(RobotCertificate.NotAfter)</div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <AuthorizeView Policy=@Permissions.Administration.RobotCertificates.Write Context="Write">
              <a href="@(AppRoutes.Administration.RobotCertificates.Index + $"/{@RobotCertificate.Id}/renew?ReturnUrl=" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri))" class="btn btn-primary">
                Renew Certificate
              </a>
            </AuthorizeView>
          </div>
        </div>
      </div>
    </div>
  </PageBody>
}
