@attribute [Route(AppRoutes.Navigation.Triggers.Create)]
@attribute [Route(AppRoutes.Navigation.Triggers.Detail)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Navigation/Triggers/Read")]
@using LGDXRobot2Cloud.Utilities.Enums
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Trigger" : "Create Trigger")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Navigation.Triggers.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit Trigger" : "Create Trigger")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Trigger Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <SubmitErrorModal Display="@IsError" />
        <ValidationErrorModal Display="@_editContext.GetValidationMessages().Any()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@Trigger.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Name">Name</label>
          <div class="col">
            <InputText id="Name" @bind-Value="Trigger.Name" type="text" class="form-control"
              placeholder="Your trigger name" />
            <ValidationMessage class="invalid-feedback" For="@(() => Trigger.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="URL">URL</label>
          <div class="col">
            <InputText id="URL" @bind-Value="Trigger.Url" type="text" class="form-control"
              placeholder="The service URL being called" />
            <ValidationMessage class="invalid-feedback" For="@(() => Trigger.Url)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required">Method</label>
          <div class="col">
            <select class="form-select" value="@Trigger.HttpMethodId" @onchange="@((e) => HandleHttpMethod(e.Value ?? string.Empty))">
              @foreach (TriggerHttpMethod method in Enum.GetValues(typeof(TriggerHttpMethod)))
              {
                <option value="@((int) method)">@(method.ToEnumMember())</option>
              }
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="Body">Body</label>
          <div class="col">
            <table class="table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">Sequence</th>
                  <th>Key</th>
                  <th>Value</th>
                  <th>Custom Value</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < Body.Count; i++)
                {
                  var index = i;
                  <tr>
                    <td>
                      <div class="col col-form-label col-form-label-sm">@(index + 1)</div>
                    </td>
                    <td>
                      <input type="text" class="form-control form-control" @bind="Body[index].Key">
                    </td>
                    <td>
                      <select class="form-select" value="@Body[index].Value" @onchange="@((e) => HandleBodyPresetChange(index, e.Value ?? string.Empty))">
                        <option value="0">Custom Value</option>
                        @foreach (TriggerPresetValue preset in Enum.GetValues(typeof(TriggerPresetValue)))
                        {
                          <option value="@((int) preset)">@preset.ToEnumMember()</option>
                        }
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" @bind="Body[index].CustomValue" disabled="@(Body[index].Value != 0)">
                    </td>
                    <td>
                      <button type="button"
                        class="btn btn-ghost-danger btn-icon btn @(Body.Count <= 1 ? "disabled" : "")" @onclick="e => BodyRemoveStep(index)">
                        <i class="ti ti-trash" style="font-size: 16px;"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <button type="button" class="btn btn-secondary w-8 mx-auto" @onclick="BodyAddStep">
                Add A Step
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label pt-0" for="SkipOnFailure">Skip On Failure</label>
          <div class="col">
            <label class="form-check">
              <InputCheckbox id="SkipOnFailure" class="form-check-input" @bind-Value="Trigger.SkipOnFailure"  />
              <span class="form-check-label">Skip this trigger if API call failed after retry</span>
            </label>
          </div>
        </div>
        <div class="row">
          <label class="col-3 col-form-label pt-0"></label>
          <div class="col">
            <label class="form-check">
              <input class="form-check-input" type="checkbox" @bind="Trigger.ApiKeyRequired">
              <span class="form-check-label">The API endpoint requires an API Key</span>
            </label>
          </div>
        </div>
        @if (Trigger.ApiKeyRequired)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label required">Insert Loaction</label>
            <div class="col">
              <select class="form-select" value="@Trigger.ApiKeyInsertLocationId" @onchange="@((e) => HandleApiKeyInsertAt(e.Value ?? string.Empty))">
                @foreach (ApiKeyInsertLocation location in Enum.GetValues(typeof(ApiKeyInsertLocation)))
                {
                  <option value="@((int) location)">@(location.ToEnumMember())</option>
                }
              </select>
              <small class="form-hint">
                This indicates where to insert the API Key in the request.
              </small>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="ApiKeyFieldName">
              @(Trigger.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "Header Field Name" : "JSON Key Name")
            </label>
            <div class="col">
              <InputText id="FieldName" @bind-Value="Trigger.ApiKeyFieldName" type="text" class="form-control"
                placeholder="@(Trigger.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "e.g. X-API-Key" : "e.g. key")" />
              <ValidationMessage class="invalid-feedback" For="@(() => Trigger.ApiKeyFieldName)" />
              @if (Trigger.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Body)
              {
                <small class="form-hint">
                  This will be ignored if the request body is not in JSON format.
                </small>
              }
            </div>
            </div>
            <div class="mb-3 row">
            <label class="col-3 col-form-label required">API Key</label>
            <div class="col">
              <InputSelect id="ApiKeyId" class="form-control" @bind-Value="Trigger.ApiKeyId"
                placeholder="Search the name of API Key">
                @if (Trigger.ApiKeyName != null)
                {
                  <option value="@Trigger.ApiKeyId">@Trigger.ApiKeyName</option>
                }
              </InputSelect>
              <ValidationMessage class="invalid-feedback" For="@(() => Trigger.ApiKeyId)" />
            </div>
          </div>
        }
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Create Time</label>
            <div class="col">
              <div class="col form-control-plaintext">@Trigger.CreatedAt</div>
            </div>
          </div>
          <div class="mb-3 row">
          <label class="col-3 col-form-label">Last Update Time</label>
          <div class="col">
            <div class="col form-control-plaintext">@Trigger.UpdatedAt</div>
          </div>
        </div>
        }
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Triggers/Delete" Context="Delete">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Triggers/Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Triggers/Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Progress" OnDelete="HandleDelete" />
  }
</AuthorizeView>