@attribute [Route(AppRoutes.Navigation.Waypoints.Create)]
@attribute [Route(AppRoutes.Navigation.Waypoints.Detail)]
@attribute [Authorize (Policy = Permissions.Navigation.Waypoints.Read)]
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Waypoint" : "Create Waypoint")">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Navigation.Waypoints.Index" />
      <h2 class="page-title">
        @(Id != null ? "Edit Waypoint" : "Create Waypoint")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Waypoint Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorAlert Errors="WaypointDetailViewModel.Errors" />
        <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@WaypointDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label">Realm</label>
          <div class="col">
            <div class="col form-control-plaintext">@WaypointDetailViewModel.RealmName</div>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(WaypointDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(WaypointDetailViewModel.Name)" type="text" class="form-control" @bind-Value="WaypointDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailViewModel.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(WaypointDetailViewModel.X)">X (m)</label>
          <div class="col">
            <InputNumber id="@nameof(WaypointDetailViewModel.X)" type="number" step="any" class="form-control" @bind-Value="WaypointDetailViewModel.X" />
            <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailViewModel.X)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(WaypointDetailViewModel.Y)">Y (m)</label>
          <div class="col">
            <InputNumber id="@nameof(WaypointDetailViewModel.Y)" type="number" step="any" class="form-control"  @bind-Value="WaypointDetailViewModel.Y" />
            <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailViewModel.Y)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(WaypointDetailViewModel.Rotation)">Rotation (rad)</label>
          <div class="col">
            <InputNumber id="@nameof(WaypointDetailViewModel.Rotation)" type="number" step="any" class="form-control" @bind-Value="WaypointDetailViewModel.Rotation" />
            <ValidationMessage class="invalid-feedback" For="@(() => WaypointDetailViewModel.Rotation)" />
          </div>
        </div>
        <div class="mb-3 row align-items-center">
          <label class="col-3 col-form-label">Facilities</label>
          <div class="col">
            <label class="form-check form-check-inline mb-0">
              <InputCheckbox id="@nameof(WaypointDetailViewModel.IsParking)" class="form-check-input" @bind-Value=WaypointDetailViewModel.IsParking />
              <span class="form-check-label">Parking Space</span>
            </label>
            <label class="form-check form-check-inline mb-0">
              <InputCheckbox id="@nameof(WaypointDetailViewModel.HasCharger)" class="form-check-input" @bind-Value=WaypointDetailViewModel.HasCharger />
              <span class="form-check-label">Charger</span>
            </label>
            <label class="form-check form-check-inline mb-0">
              <InputCheckbox id="@nameof(WaypointDetailViewModel.IsReserved)" class="form-check-input" @bind-Value=WaypointDetailViewModel.IsReserved />
              <span class="form-check-label">Reserved</span>
            </label>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="@Permissions.Navigation.Waypoints.Delete" Context="DeleteButton">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="@Permissions.Navigation.Waypoints.Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Navigation.Waypoints.Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Waypoint" OnDelete="HandleDelete" />
  }
</AuthorizeView>