<div class="card-footer d-flex align-items-center">
  <p class="m-0 text-secondary">Showing
    <span>@((PaginationMetadata.CurrentPage - 1) * PaginationMetadata.PageSize + 1)</span> to
    <span>@((PaginationMetadata.CurrentPage - 1) * PaginationMetadata.PageSize + ItemCount)</span> of
    <span>@PaginationMetadata.ItemCount</span> entries
  </p>
  <ul class="pagination m-0 ms-auto">
    <li class="page-item @(PaginationMetadata.CurrentPage == 1 ? "disabled" : "")"
      @onclick="@(e => ChangePage(e, PaginationMetadata.CurrentPage - 1))">
      <button class="page-link">
        <ChevronLeftIcon />
      </button>
    </li>
    <li class="page-item @(PaginationMetadata.CurrentPage == 1 ? "active" : "")" @onclick="@(e => ChangePage(e, 1))">
      <button class="page-link">1</button>
    </li>
    @for (int i = 2; i < PaginationMetadata.PageCount; i++)
    {
      var index = i;
      <li class="page-item @(PaginationMetadata.CurrentPage == index ? "active" : "")"
        @onclick="@(e => ChangePage(e, index))">
        <button class="page-link">@index</button>
      </li>
    }
    @if (PaginationMetadata.PageCount > 1)
    {
      <li class="page-item @(PaginationMetadata.CurrentPage == PaginationMetadata.PageCount ? "active" : "")"
        @onclick="@(e => ChangePage(e, PaginationMetadata.PageCount))">
        <button class="page-link">@PaginationMetadata.PageCount</button>
      </li>
    }
    <li class="page-item @(PaginationMetadata.CurrentPage == PaginationMetadata.PageCount ? "disabled" : "")"
      @onclick="@(e => ChangePage(e, PaginationMetadata.CurrentPage + 1))">
      <button class="page-link">
        <ChevronRightIcon />
      </button>
    </li>
  </ul>
</div>