<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">@Title</h3>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <thead>
        <tr>
          <th class="w-1">ID</th>
          <th>Name</th>
          <th>Priority</th>
          <th>Assigned Robot</th>
          <th>Current Progress</th>
          <th>Flow</th>
          <th class="w-1"><!-- Action --></th>
          <th class="w-1"><!-- Action --></th>
        </tr>
      </thead>
      <tbody>
        @if (AutoTasks != null)
        {
          @foreach (var task in AutoTasks)
          {
            var taskId = task.Id;
            <tr>
              <td>@task.Id</td>
              <td>@(string.IsNullOrWhiteSpace(task.Name) ? "-" : task.Name)</td>
              <td>@task.Priority</td>
              <td>@(string.IsNullOrWhiteSpace(task.AssignedRobot?.Name) ? "-" : task.AssignedRobot.Name)</td>
              <td>@task.CurrentProgress!.Name</td>
              <td>@task.Flow!.Name</td>
              <td>
                <a href="@(AppRoutes.Automation.AutoTasks.Index + $"/{taskId}?clone=true&ReturnUrl=/")" class="page-link link-primary">Clone</a>
              </td>
              <td class="text-end">
                <a href="@(AppRoutes.Automation.AutoTasks.Index + $"/{taskId}?ReturnUrl=/")" class="page-link link-primary">View</a>
              </td>
            </tr>
          }
        }
        else
        {
          <TableLoading Columns="8" />
        }
      </tbody>
    </table>
    @if (AutoTasks != null && AutoTasks.Count() == 0)
    {
      <TableEmpty />
    }
  </div>

  @if (AutoTasks != null && AutoTasks.Count() > 0)
  {
    <div class="card-footer d-flex align-items-center">
      <p class="m-0 text-secondary">Showing @AutoTasks.Count() of @TotalAutoTasks tasks</p><!--!-->
    </div>
  }
</div>
