@attribute [Route(AppRoutes.Setting.Roles.Detail)]
@attribute [Route(AppRoutes.Setting.Roles.Create)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Identity/Roles/Read")]
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Role" : "Create Role")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Setting.Roles.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit Role" : "Create Role")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Role Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorModal Errors="RolesDetailViewModel.Errors" />
        <ValidationErrorModal Display="@_editContext.GetValidationMessages().Any()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@RolesDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(RolesDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(RolesDetailViewModel.Name)" type="text" class="form-control" @bind-Value="RolesDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => RolesDetailViewModel.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="@nameof(RolesDetailViewModel.Description)">Description</label>
          <div class="col">
            <InputTextArea id="@nameof(RolesDetailViewModel.Name)" class="form-control" rows="3" @bind-Value="RolesDetailViewModel.Description" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="Scopes">Scopes</label>
          <div class="col">
            <InformationModal>
              1. The format of the scope is LGDXRobot2Cloud.API/Area/Controller/Permission.<br />
              2. The permission including FullAccess, Read, Write and Delete.<br />
              3. The permission applies to sub classes if not specified.
            </InformationModal>
            <table class="table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">Sequence</th>
                  <th>Scopes</th>
                  <th class="w-1"><!-- Action --></th>
                </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < RolesDetailViewModel.Scopes.Count; i++)
                {
                  var index = i;
                  var scope = RolesDetailViewModel.Scopes[i];
                  <tr>
                    <td>
                        @(index + 1)
                    </td>
                    <td>
                      <InputText id="@($"{nameof(RolesDetailViewModel.Name)}-{index}")" type="text" class="form-control" @bind-Value="RolesDetailViewModel.Scopes[index]" />
                    </td>
                    <td>
                      <button type="button"
                        class="btn btn-ghost-danger btn-icon @(RolesDetailViewModel.Scopes.Count <= 0 ? "disabled" : "")"
                        @onclick="e => ListRemoveScope(index)">
                        <i class="ti ti-trash" style="font-size: 16px;"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <button type="button" class="btn btn-secondary w-8 mx-auto mb-3" @onclick="ListAddScope">
                Add Scope
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles/Delete" Context="Delete">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles/Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles/Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Scope" OnDelete="HandleDelete" />
  }
</AuthorizeView>
