@attribute [Route(AppRoutes.Setting.Users.Detail)]
@attribute [Route(AppRoutes.Setting.Users.Create)]
@attribute [Authorize]
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit User" : "Create User")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Setting.Users.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit User" : "Create User")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">User Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <SubmitErrorModal Display="@IsError" />
        <ValidationErrorModal Display="@_editContext.GetValidationMessages().Any()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@User.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="UserName">Username</label>
          <div class="col">
            <InputText id="UserName" @bind-Value="User.UserName" type="text" class="form-control" />
            <ValidationMessage class="invalid-feedback" For="@(() => User.UserName)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Name">Full Name</label>
          <div class="col">
            <InputText id="Name" @bind-Value="User.Name" type="text" class="form-control" />
            <ValidationMessage class="invalid-feedback" For="@(() => User.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Email">Email</label>
          <div class="col">
            <InputText id="Email" @bind-Value="User.Email" type="text" class="form-control" />
            <ValidationMessage class="invalid-feedback" For="@(() => User.Email)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Roles">Roles</label>
          <div class="col">
            <table class="table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">Order</th>
                  <th>Roles</th>
                  <th class="w-1"><!-- Action --></th>
                </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < User.Roles.Count; i++)
                {
                  var index = i;
                  var roleName = User.Roles[i];
                  <tr>
                    <td>
                        @(index + 1)
                    </td>
                    <td>
                      <InputSelect id="@(AdvanceSelectElements[0] + i.ToString())" class="form-control"
                        @bind-Value="roleName">
                          <option value="@roleName">@roleName</option>
                      </InputSelect>
                    </td>
                    <td>
                      <button type="button"
                        class="btn btn-ghost-danger btn-icon @(User.Roles.Count <= 1 ? "disabled" : "")"
                        @onclick="e => TaskRemoveStep(index)">
                        <i class="ti ti-trash" style="font-size: 16px;"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <button type="button" class="btn btn-secondary w-8 mx-auto mb-3" @onclick="TaskAddStep">
                Add A Role
              </button>
            </div>
          </div>
        </div>
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Access Failed</label>
            <div class="col">
              <div class="col form-control-plaintext">@User.AccessFailedCount</div>
            </div>
          </div>
        }
      </div>
      <div class="card-footer d-flex">
        @if (Id != null)
        {
          <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
          </a>
        }
        <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
      </div>
    </EditForm>
  </div>
</PageBody>

@if (Id != null)
{
  <DeleteEntryModal EntryName="User" OnDelete="HandleDelete" />
}