@attribute [Route(AppRoutes.Automation.Triggers.Create)]
@attribute [Route(AppRoutes.Automation.Triggers.Detail)]
@attribute [Authorize (Policy = Permissions.Automation.Triggers.Read)]
@using LGDXRobotCloud.Utilities.Enums

<PageHeader Title="@(Id != null ? "Edit Trigger" : "Create Trigger")">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Automation.Triggers.Index" />
      <h2 class="page-title">
        @(Id != null ? "Edit Trigger" : "Create Trigger")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Trigger Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorAlert Errors="TriggerDetailViewModel.Errors" />
        <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@TriggerDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(TriggerDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(TriggerDetailViewModel.Name)" type="text" class="form-control" @bind-Value="TriggerDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailViewModel.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(TriggerDetailViewModel.Url)">URL</label>
          <div class="col">
            <InputText id="@nameof(TriggerDetailViewModel.Url)" type="text" class="form-control" @bind-Value="TriggerDetailViewModel.Url" />
            <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailViewModel.Url)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required">Method</label>
          <div class="col">
            <select class="form-select" value="@TriggerDetailViewModel.HttpMethodId" @onchange="@((e) => HandleHttpMethod(e.Value ?? string.Empty))">
              @foreach (TriggerHttpMethod method in Enum.GetValues(typeof(TriggerHttpMethod)))
              {
                <option value="@((int) method)">@(method.ToEnumMember())</option>
              }
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="Body">Body</label>
          <div class="col">
            <table class="table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">Sequence</th>
                  <th>Key</th>
                  <th>Value</th>
                  <th>Custom Value</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < TriggerDetailViewModel.BodyDataList.Count; i++)
                {
                  var index = i;
                  <tr>
                    <td>
                      <div class="col col-form-label col-form-label-sm">@(index + 1)</div>
                    </td>
                    <td>
                      <input type="text" class="form-control form-control" @bind="TriggerDetailViewModel.BodyDataList[index].Key">
                    </td>
                    <td>
                      <select class="form-select" value="@TriggerDetailViewModel.BodyDataList[index].Value" @onchange="@((e) => HandleBodyPresetChange(index, e.Value ?? string.Empty))">
                        <option value="0">Custom Value</option>
                        @foreach (TriggerPresetValue preset in Enum.GetValues(typeof(TriggerPresetValue)))
                        {
                          <option value="@((int) preset)">@preset.ToEnumMember()</option>
                        }
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" @bind="TriggerDetailViewModel.BodyDataList[index].CustomValue" disabled="@(TriggerDetailViewModel.BodyDataList[index].Value != 0)">
                    </td>
                    <td>
                      <button type="button"
                        class="btn btn-ghost-danger btn-icon btn @(TriggerDetailViewModel.BodyDataList.Count <= 1 ? "disabled" : "")" @onclick="e => BodyRemoveStep(index)">
                        <i class="ti ti-trash" style="font-size: 16px;"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <button type="button" class="btn btn-secondary w-8 mx-auto" @onclick="BodyAddStep">
                Add Value
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label pt-0" for="@nameof(TriggerDetailViewModel.SkipOnFailure)">Skip On Failure</label>
          <div class="col">
            <label class="form-check">
              <InputCheckbox id="@nameof(TriggerDetailViewModel.SkipOnFailure)" class="form-check-input" @bind-Value="TriggerDetailViewModel.SkipOnFailure"  />
              <span class="form-check-label">Skip this trigger if API call failed after retry</span>
            </label>
          </div>
        </div>
        <div class="row">
          <label class="col-3 col-form-label pt-0"></label>
          <div class="col">
            <label class="form-check">
              <input class="form-check-input" type="checkbox" @bind="TriggerDetailViewModel.ApiKeyRequired">
              <span class="form-check-label">The API endpoint requires an API Key</span>
            </label>
          </div>
        </div>
        @if (TriggerDetailViewModel.ApiKeyRequired)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="@nameof(TriggerDetailViewModel.ApiKeyInsertLocationId)">Insert Loaction</label>
            <div class="col">
              <select class="form-select" value="@TriggerDetailViewModel.ApiKeyInsertLocationId" @onchange="@((e) => HandleApiKeyInsertAt(e.Value ?? string.Empty))">
                @foreach (ApiKeyInsertLocation location in Enum.GetValues(typeof(ApiKeyInsertLocation)))
                {
                  <option value="@((int) location)">@(location.ToEnumMember())</option>
                }
              </select>
              <small class="form-hint">
                This indicates where to insert the API Key in the request.
              </small>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="@nameof(TriggerDetailViewModel.ApiKeyFieldName)">
              @(TriggerDetailViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "Header Field Name" : "JSON Key Name")
            </label>
            <div class="col">
              <InputText id="FieldName" @bind-Value="TriggerDetailViewModel.ApiKeyFieldName" type="text" class="form-control"
                placeholder="@(TriggerDetailViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "e.g. X-API-Key" : "e.g. key")" />
              <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailViewModel.ApiKeyFieldName)" />
              @if (TriggerDetailViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Body)
              {
                <small class="form-hint">
                  This will be ignored if the request body is not in JSON format.
                </small>
              }
            </div>
            </div>
            <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="@nameof(TriggerDetailViewModel.ApiKeyId)">API Key</label>
            <div class="col">
              <InputSelect id="@nameof(TriggerDetailViewModel.ApiKeyId)" class="form-control" @bind-Value="TriggerDetailViewModel.ApiKeyId">
                @if (TriggerDetailViewModel.ApiKeyName != null)
                {
                  <option value="@TriggerDetailViewModel.ApiKeyId">@TriggerDetailViewModel.ApiKeyName</option>
                }
              </InputSelect>
              <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailViewModel.ApiKeyId)" />
            </div>
          </div>
        }
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="@Permissions.Automation.Triggers.Delete" Context="DeleteButton">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" @onclick="HandleTestDelete">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="@Permissions.Automation.Triggers.Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Automation.Triggers.Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Trigger" Errors="DeleteEntryModalViewModel.Errors"
      IsReady="DeleteEntryModalViewModel.IsReady" OnDelete="HandleDelete">
      Do you want to delete this Trigger? This action cannot be undone. You must first remove the following entities that reference this Trigger:
      <ul>
        <li>Details in Flows</li>
      </ul>
    </DeleteEntryModal>
  }
</AuthorizeView>