@attribute [Route(AppRoutes.Automation.Triggers.Create)]
@attribute [Route(AppRoutes.Automation.Triggers.Detail)]
@attribute [Authorize (Policy = Permissions.Automation.Triggers.Read)]
@using LGDXRobotCloud.Data.Entities
@using LGDXRobotCloud.UI.Components.Pages.Administration.ActivityLogs.Components;
@using LGDXRobotCloud.Utilities.Enums

<PageHeader Title="@(Id != null ? "Edit Trigger" : "Create Trigger")">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Automation.Triggers.Index" />
      <h2 class="page-title">
        @(Id != null ? "Edit Trigger" : "Create Trigger")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="row row-cards">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Trigger Details</h3>
        </div>
        <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
          <DataAnnotationsValidator />
          <div class="card-body">
            <ApiErrorAlert Errors="TriggerDetailsViewModel.Errors" />
            <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
            @if (Id != null)
            {
              <div class="mb-3 row">
                <label class="col-3 col-form-label">ID</label>
                <div class="col">
                  <div class="col form-control-plaintext">@TriggerDetailsViewModel.Id</div>
                </div>
              </div>
            }
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(TriggerDetailsViewModel.Name)">Name</label>
              <div class="col">
                <InputText id="@nameof(TriggerDetailsViewModel.Name)" type="text" class="form-control" @bind-Value="TriggerDetailsViewModel.Name" />
                <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailsViewModel.Name)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(TriggerDetailsViewModel.Url)">URL</label>
              <div class="col">
                <InputText id="@nameof(TriggerDetailsViewModel.Url)" type="text" class="form-control" @bind-Value="TriggerDetailsViewModel.Url" />
                <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailsViewModel.Url)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required">Method</label>
              <div class="col">
                <select class="form-select" value="@TriggerDetailsViewModel.HttpMethodId" @onchange="@((e) => HandleHttpMethod(e.Value ?? string.Empty))">
                  @foreach (TriggerHttpMethod method in Enum.GetValues(typeof(TriggerHttpMethod)))
                  {
                    <option value="@((int) method)">@(method.ToEnumMember())</option>
                  }
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label" for="Body">Body</label>
              <div class="col d-flex flex-column">
                <InformationModal>
                  The minimum data required for the Next Token are the Robot ID, Task ID, and the Next Token. The Next Token is appended only when the Proceed Condition is set to ‘API’.
                </InformationModal>
                <table class="table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">Sequence</th>
                      <th>Key</th>
                      <th>Value</th>
                      <th>Custom Value</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (int i = 0; i < TriggerDetailsViewModel.BodyDataList.Count; i++)
                    {
                      var index = i;
                      <tr>
                        <td>
                          <div class="col col-form-label col-form-label-sm">@(index + 1)</div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control" @bind="TriggerDetailsViewModel.BodyDataList[index].Key">
                        </td>
                        <td>
                          <select class="form-select" value="@TriggerDetailsViewModel.BodyDataList[index].Value" @onchange="@((e) => HandleBodyPresetChange(index, e.Value ?? string.Empty))">
                            <option value="0">Custom Value</option>
                            @foreach (TriggerPresetValue preset in Enum.GetValues(typeof(TriggerPresetValue)))
                            {
                              <option value="@((int) preset)">@preset.ToEnumMember()</option>
                            }
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control" @bind="TriggerDetailsViewModel.BodyDataList[index].CustomValue" disabled="@(TriggerDetailsViewModel.BodyDataList[index].Value != 0)">
                        </td>
                        <td>
                          <button type="button"
                            class="btn btn-ghost-danger btn-icon btn" @onclick="e => BodyRemoveStep(index)">
                            <i class="ti ti-trash" style="font-size: 16px;"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
                <button type="button" class="btn btn-secondary align-self-center" @onclick="BodyAddStep">
                  Add Data
                </button>
              </div>
            </div>
            <div class="row">
              <label class="col-3 col-form-label pt-0"></label>
              <div class="col">
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" @bind="TriggerDetailsViewModel.ApiKeyRequired">
                  <span class="form-check-label">The API endpoint requires an API Key</span>
                </label>
              </div>
            </div>
            @if (TriggerDetailsViewModel.ApiKeyRequired)
            {
              <div class="mb-3 row">
                <label class="col-3 col-form-label required" for="@nameof(TriggerDetailsViewModel.ApiKeyInsertLocationId)">Insert Loaction</label>
                <div class="col">
                  <select class="form-select" value="@TriggerDetailsViewModel.ApiKeyInsertLocationId" @onchange="@((e) => HandleApiKeyInsertAt(e.Value ?? string.Empty))">
                    @foreach (ApiKeyInsertLocation location in Enum.GetValues(typeof(ApiKeyInsertLocation)))
                    {
                      <option value="@((int) location)">@(location.ToEnumMember())</option>
                    }
                  </select>
                  <small class="form-hint">
                    This indicates where to insert the API Key in the request.
                  </small>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-3 col-form-label required" for="@nameof(TriggerDetailsViewModel.ApiKeyFieldName)">
                  @(TriggerDetailsViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "Header Field Name" : "JSON Key Name")
                </label>
                <div class="col">
                  <InputText id="FieldName" @bind-Value="TriggerDetailsViewModel.ApiKeyFieldName" type="text" class="form-control"
                    placeholder="@(TriggerDetailsViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Header ? "e.g. X-API-Key" : "e.g. key")" />
                  <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailsViewModel.ApiKeyFieldName)" />
                  @if (TriggerDetailsViewModel.ApiKeyInsertLocationId == (int)ApiKeyInsertLocation.Body)
                  {
                    <small class="form-hint">
                      This will be ignored if the request body is not in JSON format.
                    </small>
                  }
                </div>
                </div>
                <div class="mb-3 row">
                <label class="col-3 col-form-label required" for="@nameof(TriggerDetailsViewModel.ApiKeyId)">API Key</label>
                <div class="col">
                  <InputSelect id="@nameof(TriggerDetailsViewModel.ApiKeyId)" class="form-control" @bind-Value="TriggerDetailsViewModel.ApiKeyId">
                    @if (TriggerDetailsViewModel.ApiKeyName != null)
                    {
                      <option value="@TriggerDetailsViewModel.ApiKeyId">@TriggerDetailsViewModel.ApiKeyName</option>
                    }
                  </InputSelect>
                  <ValidationMessage class="invalid-feedback" For="@(() => TriggerDetailsViewModel.ApiKeyId)" />
                </div>
              </div>
            }
          </div>
          <div class="card-footer d-flex">
            <AuthorizeView Policy="@Permissions.Automation.Triggers.Delete" Context="DeleteButton">
              @if (Id != null)
              {
                <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" @onclick="HandleTestDelete">
                  Delete
                </a>
              }
            </AuthorizeView>
            <AuthorizeView Policy="@Permissions.Automation.Triggers.Write" Context="Write">
              <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
            </AuthorizeView>
          </div>
        </EditForm>
      </div>
    </div>
    @if (Id != null)
    {
      <AuthorizeView Policy=@Permissions.Administration.ActivityLogs.Read Context="ActivityLogs">
        <div class="col-12">
          <ActivityLogsTable DefaultEntityName="@nameof(Trigger)" DefaultEntityId="@(Id.ToString())"
            ReturnUrl="@(AppRoutes.Automation.Triggers.Index + $"/{Id}")"/>
        </div>
      </AuthorizeView>
    }
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Automation.Triggers.Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Trigger" Errors="DeleteEntryModalViewModel.Errors"
      IsReady="DeleteEntryModalViewModel.IsReady" OnDelete="HandleDelete">
      Do you want to delete this Trigger? This action cannot be undone. You must first remove the following entities that reference this Trigger:
      <ul>
        <li>Details in Flows</li>
      </ul>
    </DeleteEntryModal>
  }
</AuthorizeView>