@inherits AbstractTable

<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Flows</h3>
  </div>
  <!-- Filter -->
  <div class="card-body border-bottom py-3">
    <div class="d-flex">
      <div class="text-secondary">
        <div class="row g-2">
          <div class="col">
            Show
          </div>
          <div class="col-auto">
            <TablePageSizeSelect OnChange="HandlePageSizeChange" />
          </div>
          <div class="col-auto">
            entries
          </div>
        </div>
      </div>
      <div class="ms-auto text-secondary">
        Search:
      </div>
      <div class="text-secondary">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm ms-2" @bind="DataSearch">
          <button type="button" class="btn btn-sm" @onclick="HandleSearch">Search</button>
          <button type="button" class="btn btn-sm" @onclick="HandleClearSearch">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <thead>
        <tr>
          <th class="w-1">ID</th>
          <th>Name</th>
          <th class="w-1">Create Time</th>
          <th class="w-1">Last Update Time</th>
          <th class="w-1"><!-- Action --></th>
        </tr>
      </thead>
      <tbody>
        @if (FlowsList != null)
        {
          @foreach (var flow in FlowsList)
          {
            var flowId = flow.Id;
            <tr>
              <td>@flow.Id</td>
              <td>@flow.Name</td>
              <td>@flow.CreatedAt</td>
              <td>@flow.UpdatedAt</td>
              <td class="text-end">
                <button class="page-link link-primary" data-bs-toggle="modal" data-bs-target="#flowDetailModal"
                  @onclick="@(e => HandleItemSelect(flowId))">Edit</button>
              </td>
            </tr>
          }
        }
        else
        {
          <TableLoading Columns="5" />
        }
      </tbody>
    </table>
    @if (FlowsList != null && FlowsList.Count() == 0)
    {
      <TableEmpty />
    }
  </div>
  <!-- Footer -->
  @if (PaginationHelper != null && FlowsList != null && FlowsList.Count() > 0)
  {
    <TablePagination PaginationHelper="PaginationHelper" ItemCount="FlowsList.Count()"
      OnPageChange="HandlePageChange" />
  }
</div>
