<div class="col-12">
  <div class="card">
    <!-- Header -->
    <div class="card-header">
      <h3 class="card-title">Saved Nodes</h3>
    </div>
    <!-- Filter -->
    <div class="card-body border-bottom py-3">
      <div class="d-flex">
        <div class="text-secondary">
          <div class="row g-2">
            <div class="col">
              Show
            </div>
            <div class="col-auto">
              <TablePageSizeSelect OnChange="HandlePageSizeChange" />
            </div>
            <div class="col-auto">
              entries
            </div>
          </div>
        </div>
        <div class="ms-auto text-secondary">
          Search:
        </div>
        <div class="text-secondary">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm ms-2" @bind="_dataSearch">
            <button type="button" class="btn btn-sm" @onclick="HandleSearch">Search</button>
            <button type="button" class="btn btn-sm" @onclick="HandleClearSearch">Clear</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Data -->
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
          <tr>
            <th class="w-1">ID</th>
            <th>Name</th>
            <th>Process Name</th>
            <th class="w-100">Arguments</th>
            <th>Create Time</th>
            <th>Last Update Time</th>
            <th><!-- Action --></th>
          </tr>
        </thead>
        <tbody>
          @if (_nodesList != null)
          {
            @foreach (var node in _nodesList)
            {
              var nodeId = node.Id;
              <tr>
                <td>@node.Id</td>
                <td>@node.Name</td>
                <td>@node.ProcessName</td>
                <td>@node.Arguments</td>
                <td>@node.CreatedAt</td>
                <td>@node.UpdatedAt</td>
                <td class="text-end">
                  <button class="page-link link-primary" data-bs-toggle="modal" data-bs-target="#nodeDetailModal"
                    @onclick="@(e => HandleItemSelect(nodeId))">Edit</button>
                </td>
              </tr>
            }
          }
          else
          {
            <TableLoading Columns="7" />
          }
        </tbody>
      </table>
      @if (_nodesList != null && _nodesList.Count() == 0)
      {
        <TableEmpty />
      }
    </div>
    <!-- Footer -->
    @if (_paginationMetadata != null && _nodesList != null && _nodesList.Count() > 0)
    {
      <TablePagination PaginationMetadata="_paginationMetadata" ItemCount="_nodesList.Count()" OnPageChange="HandlePageChange" />
    }
  </div>
</div>