@attribute [Route(AppRoutes.Automation.Progresses.Create)]
@attribute [Route(AppRoutes.Automation.Progresses.Detail)]
@attribute [Authorize (Policy = Permissions.Automation.Progresses.Write)]

<PageHeader Title="@(Id != null ? "Edit Progress" : "Create Progress")">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Automation.Progresses.Index" />
      <h2 class="page-title">
        @(Id != null ? "Edit Progress" : "Create Progress")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Progress Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorAlert Errors="ProgressDetailViewModel.Errors" />
        <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@ProgressDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(ProgressDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(ProgressDetailViewModel.Name)" type="text" class="form-control" @bind-Value="ProgressDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => ProgressDetailViewModel.Name)" />
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="@Permissions.Automation.Progresses.Delete" Context="DeleteButton">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" @onclick="HandleTestDelete">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="@Permissions.Automation.Progresses.Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Automation.Progresses.Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Progress" Errors="DeleteEntryModalViewModel.Errors"
      IsReady="DeleteEntryModalViewModel.IsReady" OnDelete="HandleDelete">
      Do you want to delete this Progress? This action cannot be undone. You must first remove the following entities that reference this Progress:
      <ul>
        <li>Details in Flows</li>
      </ul>
    </DeleteEntryModal>
  }
</AuthorizeView>