@attribute [Route(AppRoutes.Navigation.Progresses.Create)]
@attribute [Route(AppRoutes.Navigation.Progresses.Detail)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Navigation/Progresses/Read")]
@attribute [Authorize]
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Progress" : "Create Progress")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Navigation.Progresses.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit Progress" : "Create Progress")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Progress Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorAlert Errors="ProgressDetailViewModel.Errors" />
        <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@ProgressDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(ProgressDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(ProgressDetailViewModel.Name)" type="text" class="form-control" @bind-Value="ProgressDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => ProgressDetailViewModel.Name)" />
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Progresses/Delete" Context="Delete">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Progresses/Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Progresses/Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Progress" OnDelete="HandleDelete" />
  }
</AuthorizeView>