@attribute [Route(AppRoutes.Navigation.MapEditor.Index)]
@attribute [Authorize (Policy = Permissions.Navigation.MapEditor.Read)]

<PageHeader Title="Map Editor">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Map Editor
      </h2>
      <div class="text-secondary mt-1">
        <i class="ti ti-map-pin-filled"></i>
        @RealmName
      </div>
    </div>
  </div>
</PageHeader>

<div id="navigation-map-div" class="flex-fill">
  <div id="navigation-map-canvas"></div>
  <a id="waypointModalButton" class="btn d-none" data-bs-toggle="modal" data-bs-target="#waypointModal">
    Toggle modal
  </a>
  @if (Realm != null)
  {
    <img id="navigation-map-image" class="d-none" src="data:image/png;base64, @Realm.Image" />
  }
  <div id="map-editor-tools" class="btn-group">
    <a class="btn" href="@($"{AppRoutes.Navigation.Waypoints.Create}?ReturnUrl={AppRoutes.Navigation.MapEditor.Index}")">Add Waypoint</a>
    <p id="status"></p>
  </div>
  <div id="navigation-map-buttons" class="btn-group-vertical">
    <button class="btn" onclick="NavigationMapZoomIn()"><i class="ti ti-zoom-in"></i></button>
    <button class="btn" onclick="NavigationMapZoomOut()"><i class="ti ti-zoom-out"></i></button>
  </div>
  <div id="navigation-map-ruler" class="border border-2 border-top-0 border-dark ps-2">
    1m
  </div>
</div>

<div class="modal modal-blur fade" id="waypointModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-3 modal-dialog-centered" role="document">
    <div class="modal-content">
      @if (SelectedWaypoint != null)
      {
        <div class="modal-header">
          <h5 class="modal-title">Waypoint Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Id</label>
            <div class="col">
              <div class="col form-control-plaintext">@SelectedWaypoint.Id</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Name</label>
            <div class="col">
              <div class="col form-control-plaintext">@SelectedWaypoint.Name</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label">X (m)</label>
            <div class="col">
              <div class="col form-control-plaintext">@SelectedWaypoint.X</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Y (m)</label>
            <div class="col">
              <div class="col form-control-plaintext">@SelectedWaypoint.Y</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Rotation (rad)</label>
            <div class="col">
              <div class="col form-control-plaintext">@SelectedWaypoint.Rotation</div>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn" data-bs-dismiss="modal" @onclick="() => OnEditWaypointClick((int)SelectedWaypoint.Id!)">Edit</button>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Single Traffic</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Both Traffics</button>
        </div>
      }
    </div>
  </div>
</div>

<script>
  @if (Realm != null)
  { 
    @($"var MAP_RESOLUTION = {Realm.Resolution};var MAP_ORIGIN_X = {Realm.OriginX};var MAP_ORIGIN_Y = {Realm.OriginY};var MAP_ORIGIN_ROTATION = {Realm.OriginRotation};")
  }
  else
  {
    @($"var MAP_RESOLUTION = 0;var MAP_ORIGIN_X = 0;var MAP_ORIGIN_Y = 0;var MAP_ORIGIN_ROTATION = 0;")
  }
</script>
<style>
body {
  overflow: hidden;
}
footer.footer.footer-transparent {
  display: none;
}
</style>