@using LGDXRobot2Cloud.UI.ViewModels.Navigation
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Certificate Detail</h3>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr>
          <td>Thumbprint</td>
          <td>@(RobotCertificate != null ? RobotCertificate.Thumbprint : "-")</td>
        </tr>
        <tr>
          <td>Valid Start</td>
          <td>@(RobotCertificate != null ? RobotCertificate.NotBefore : "-")</td>
        </tr>
        <tr>
          <td>Valid Till</td>
          <td>@(RobotCertificate != null ? RobotCertificate.NotAfter : "-")</td>
        </tr>
        <tr>
          <td>Backup Thumbprint</td>
          <td>@(RobotCertificate?.ThumbprintBackup != null ? RobotCertificate.ThumbprintBackup : "-")</td>
        </tr>
      </tbody>
    </table>
  </div>
  @if (RobotCertificate != null)
  {
    <div class="card-footer d-flex">
      <AuthorizeView Policy="ValidateLgdxUserAccess/Setting/Certificates/Write" Context="CertificateRenew">
        <a href="@(AppRoutes.Setting.Certificates.Index + $"/{@RobotCertificate.Id}/renew")" class="btn btn-primary" @onclick="SetRedirectUrl">
          Renew Certificate
        </a>
      </AuthorizeView>
    </div>
  }
</div>

@code
{
  [Inject]
  public required NavigationManager NavigationManager { get; set; } = default!;

  [Inject]
  public ProtectedSessionStorage ProtectedSessionStorage { get; set; } = default!;

  [Parameter]
  public RobotCertificateViewModel? RobotCertificate { get; set; }

  string RedirectUrl { get; set; } = string.Empty;

  public async Task SetRedirectUrl()
  {
    await ProtectedSessionStorage.SetAsync("redirectUrl", RedirectUrl);
  }

  protected override Task OnInitializedAsync()
  {
    RedirectUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    return base.OnInitializedAsync();
  }
}