@using LGDXRobot2Cloud.UI.Client.Models
@using LGDXRobot2Cloud.UI.ViewModels.Navigation

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Certificate Detail</h3>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr>
          <td>Thumbprint</td>
          <td>@(RobotCertificate != null ? RobotCertificate.Thumbprint : "-")</td>
        </tr>
        <tr>
          <td>Valid Start</td>
          <td>@(RobotCertificate != null ? UiHelper.TimeToString(RobotCertificate.NotBefore) : "-")</td>
        </tr>
        <tr>
          <td>Valid Till</td>
          <td>@(RobotCertificate != null ? UiHelper.TimeToString(RobotCertificate.NotAfter) : "-")</td>
        </tr>
        <tr>
          <td>Backup Thumbprint</td>
          <td>@(RobotCertificate?.ThumbprintBackup != null ? RobotCertificate.ThumbprintBackup : "-")</td>
        </tr>
      </tbody>
    </table>
  </div>
  @if (RobotCertificate != null)
  {
    <div class="card-footer d-flex">
      <AuthorizeView Policy="@Permissions.Administration.RobotCertificates.Write" Context="CertificateRenew">
        <a href="@(AppRoutes.Administration.RobotCertificates.Index + $"/{@RobotCertificate.Id}/renew?ReturnUrl=" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri))" class="btn btn-primary">
          Renew Certificate
        </a>
      </AuthorizeView>
    </div>
  }
</div>

@code
{
  [Inject]
  public required NavigationManager NavigationManager { get; set; } = default!;

  [Parameter]
  public RobotCertificateDto? RobotCertificate { get; set; }
}