@page "/"
@using LGDXRobotCloud.UI.Components.Pages.Home.Components
@using LGDXRobotCloud.UI.Components.Shared
@using LGDXRobotCloud.UI.Services
@using LGDXRobotCloud.Utilities.Enums
@attribute [Authorize]

<PageHeader Title="Home">
  <div class="row align-items-center">
    <div class="d-none d-sm-block col-2">
      <h2 class="page-title">
        Home
      </h2>
      <div class="text-secondary mt-1">
        <i class="ti ti-map-pin-filled"></i>
        @RealmName
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <nav class="nav nav-segmented nav-2" role="tablist">
        @for (int i = 0; i < Pages.Count; i++)
        {
          var num = i;
          <input type="radio" class="nav-link-input" name="segmented" id="@($"segmented-checkbox-{num}")" checked="@(CurrentPage == num)">
          <label for="@($"segmented-checkbox-{num}")" class="nav-link" role="tab" @onclick="() => HandlePageChange(num)">@Pages[i]</label>
        }
      </nav>
    </div>
    <AuthorizeView Policy="@Permissions.Automation.AutoTasks.Write">
      <div class="d-none d-sm-flex col-2 justify-content-end">
        <a href="@(AppRoutes.Automation.AutoTasks.Create + $"?ReturnUrl=/?tab={CurrentPage}")" type="button" class="btn btn-primary">
          Create Task
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

@switch (CurrentPage)
{
  default:
  case 0:
    <Tasks />
    break;
  case 1:
    <Map />
    break;
  case 2:
    <Robots />
    break;
}

@code {
  [Inject]
  public required ICachedRealmService CachedRealmService { get; set; }

  [Inject]
  public required ITokenService TokenService { get; set; }

  [Inject]
  public required AuthenticationStateProvider AuthenticationStateProvider { get; set; }

  [SupplyParameterFromQuery]
  private int? Tab { get; set; }

  private string RealmName { get; set; } = string.Empty;
  private List<string> Pages = ["Tasks", "Map", "Robots"];
  private int CurrentPage = 0;

  protected override async Task OnInitializedAsync()
  {
    var user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
    var settings = TokenService.GetSessionSettings(user);
    RealmName = await CachedRealmService.GetRealmName(settings.CurrentRealmId);
    if (Tab != null)
    {
      CurrentPage = (int)Tab;
    }
    await base.OnInitializedAsync();
  }

  private void HandlePageChange(int page)
  {
    CurrentPage = page;
  }
}