@using LGDXRobotCloud.UI.Components.Pages.Home.Components
@using LGDXRobotCloud.UI.Components.Shared
@using LGDXRobotCloud.UI.Services
@using LGDXRobotCloud.Utilities.Enums

<PageBody>
  <div class="row row-cards">
    
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Waiting Task</div>
          <div class="h1 mb-3">@(AutoTaskStatisticsDto?.WaitingTasks ?? 0)</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Running Task</div>
          <div class="h1 mb-3">@(AutoTaskStatisticsDto?.RunningTasks ?? 0)</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Completed Tasks (Last 24 Hours)</div>
          <div class="h1 mb-3">@(AutoTaskStatisticsDto?.CompletedTasks ?? 0)</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Aborted Task (Last 24 Hours)</div>
          <div class="h1 mb-3">@(AutoTaskStatisticsDto?.AbortedTasks ?? 0)</div>
        </div>
      </div>
    </div>
    <AuthorizeView Policy="@Permissions.Automation.AutoTasks.Read">
      <div class="col-12">
        <RealtimeAutoTasksTable Title="Running Tasks" RunningAutoTasks="true" />
      </div>
      <div class="col-12">
        <RealtimeAutoTasksTable Title="Waiting Queue" RunningAutoTasks="false" />
      </div>
    </AuthorizeView>
  </div>
</PageBody>