@using LGDXRobot2Cloud.UI.Helpers
@inherits AbstractForm

<div class="modal modal-blur fade" id="apiKeyDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@(Id != null ? "Update API Key" : "Create New API Key")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="modal-body">
          <ModalValidationError Display="IsInvalid" />
          <ModalSubmitError Display="IsError" Crud="@(Id != null ? CrudOperation.Update : CrudOperation.Create)" />
          @if (Id != null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@ApiKey.Id</div>
              </div>
            </div>
          }
          @if (Id == null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">API Key Category</label>
              <div class="col">
                <select class="form-select" @onchange="@((e) => HandleApiKeyKindChanged(e.Value ?? string.Empty))">
                  <option value="false">LGDXRobot2 API Key</option>
                  <option value="true">Third-Party API Key</option>
                </select>
                <small class="form-hint">
                  An LGDXRobot2 API Key grants access to LGDXRobot2 services for your services, 
                  while a Third-Party API Key is for accessing Third-Party services for LGDXRobot2 services. 
                  This choice is permanent once made.
                </small>
              </div>
            </div>
          }
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="Key-Name">Name</label>
            <div class="col">
              <InputText id="Key-Name" @bind-Value="ApiKey.Name" type="text" class="form-control"
                placeholder="Your API Key name" />
              <ValidationMessage class="invalid-feedback" For="@(() => ApiKey.Name)" />
            </div>
          </div>
          @if (Id == null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label" for="Key-Key">Secret</label>
              <div class="col">
                @if (ApiKey.IsThirdParty)
                {
                  <InputText id="Key-Key" @bind-Value="ApiKey.Secret" type="text" class="form-control"
                    placeholder="API Key secret" />
                  <ValidationMessage class="invalid-feedback" For="@(() => ApiKey.Name)" />
                }
                else
                {
                  <div class="col form-control-plaintext">Generated automatically</div>
                }
              </div>
            </div>
          }
          @if (Id != null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Create Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@ApiKey.CreatedAt</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Last Update Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@ApiKey.UpdatedAt</div>
              </div>
            </div>
          }
        </div>
        <div class="modal-footer">
          <a class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          @if (Id != null)
          {
            <button type="button" class="btn btn-danger ms-auto" data-bs-toggle="modal" data-bs-target="#apiKeyDeleteModal">
              Delete
            </button>
            <button type="submit" class="btn btn-primary ms-2">
              Update
            </button>
          }
          else
          {
            <button type="submit" class="btn btn-primary ms-auto">
              Create
            </button>
          }
        </div>
      </EditForm>
    </div>
  </div>
</div>

@if (Id != null)
{
  <div class="modal fade" id="apiKeyDeleteModal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">Delete API Key</div>
        <ModalSubmitError Display="IsError" Crud="@CrudOperation.Delete" />
        <div>The API Key @(ApiKey.Name != null ? $"\"{ApiKey.Name}\" (ID: {ApiKey.Id})" : $"ID: {ApiKey.Id}") will
          be deleted.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="HandleDelete">Yes</button>
      </div>
    </div>
  </div>
</div>
}