@inherits AbstractForm

<div class="modal modal-blur fade" id="progressDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@(Id != null ? "Update Progress" : "Create New Progress")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="modal-body">
          <ModalValidationError Display="IsInvalid" />
          <ModalSubmitError Display="IsError" Crud="@(Id != null ? CrudOperation.Update : CrudOperation.Create)" />
          @if (Id != null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@Progress.Id</div>
              </div>
            </div>
          }
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="Name">Name</label>
            <div class="col">
              <InputText id="Name" @bind-Value="Progress.Name" type="text" class="form-control"
                  placeholder="Your progress name" />
              <ValidationMessage class="invalid-feedback" For="@(() => Progress.Name)" />
            </div>
          </div>
          @if (Id != null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Create Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@Progress.CreatedAt</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Last Update Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@Progress.UpdatedAt</div>
              </div>
            </div>
          }
        </div>
        <div class="modal-footer">
          <a class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          @if (Id != null)
          {
            <button type="button" class="btn btn-danger ms-auto" data-bs-toggle="modal" data-bs-target="#progressDeleteModal">
              Delete
            </button>
            <button type="submit" class="btn btn-primary ms-2">
              Update
            </button>
          }
          else
          {
            <button type="submit" class="btn btn-primary ms-auto">
              Create
            </button>
          }
        </div>
      </EditForm>
    </div>
  </div>
</div>

@if (Id != null)
{
  <div class="modal fade" id="progressDeleteModal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">Delete Progress</div>
        <ModalSubmitError Display="IsError" Crud="@CrudOperation.Delete" />
        <div>The Progress @(Progress.Name != null ? $"\"{Progress.Name}\" (ID: {Progress.Id})" : $"ID: {Progress.Id}") will
          be deleted.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="HandleDelete">Yes</button>
      </div>
    </div>
  </div>
</div>
}