@using LGDXRobot2Cloud.UI.Shared.Icons
@inherits AbstractForm

<div class="modal modal-blur fade" id="taskDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@(Id != null ? "Update Task" : "Create New Task")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="modal-body">
          <ModalValidationError Display="IsInvalid" />
          <ModalSubmitError Display="IsError" Crud="@(Id != null ? CrudOperation.Update : CrudOperation.Create)" />
          @if (Id != null)
          {
            <div class="mb-3 row">
              <label class="col-3 col-form-label">ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@Task.Id</div>
              </div>
            </div>
          }
          <div class="mb-3 row">
            <label class="col-3 col-form-label" for="Name">Name</label>
            <div class="col">
              <InputText id="Name" @bind-Value="Task.Name" type="text" class="form-control"
                placeholder="Your task name" />
              <ValidationMessage class="invalid-feedback" For="@(() => Task.Name)" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="Priority">Priority</label>
            <div class="col">
              <InputNumber id="Priority" @bind-Value="Task.Priority" class="form-control"
                placeholder="Higher number with higher priority" />
              <ValidationMessage class="invalid-feedback" For="@(() => Task.Priority)" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-3 col-form-label required" for="FlowId">Flow</label>
            <div class="col">
              <InputSelect id="@(AdvanceSelectElements[0] + "0")" class="form-control" @bind-Value="Task.FlowId"
                placeholder="Search the name of the Flow">
                @if (Task.FlowId != null)
                {
                  <option value="@Task.FlowId">@Task.FlowName</option>
                }
              </InputSelect>
              <ValidationMessage class="invalid-feedback" For="@(() => Task.FlowId)" />
            </div>
          </div>
          <div class="row">
            <label class="col-3 col-form-label pt-0"></label>
            <div class="col">
              <label class="form-check">
                <input class="form-check-input" type="checkbox">
                <span class="form-check-label">Create as Template Task</span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label class="form-label required">Task Detail</label>
          @for (int i = 0; i < Task.TaskDetails.Count(); i++)
          {
            var index = i;
            var taskDetail = Task.TaskDetails[i];
            <fieldset class="form-fieldset">
              <div class="d-flex flex-row gap-2">
                <div class="flex-grow-1">
                  @if (taskDetail.Id != null)
                  {
                    <div class="mb-2 row">
                      <label class="col-3 col-form-label col-form-label-sm">ID</label>
                      <div class="col">
                        <div class="col col-form-label col-form-label-sm">@taskDetail.Id</div>
                      </div>
                    </div>
                  }
                  <div class="row">
                    <label class="col-3 col-form-label col-form-label-sm required" for="Name">Waypoint</label>
                    <div class="col">
                      <InputSelect id="@(AdvanceSelectElements[1] + i.ToString())" class="form-control form-control-sm" @bind-Value="taskDetail.WaypointId">
                        @if (taskDetail.WaypointName != null)
                        {
                          <option value="@taskDetail.WaypointId">@taskDetail.WaypointName</option>
                        }
                      </InputSelect>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                  <div class="">
                    <button type="button" class="btn btn-ghost-secondary btn-icon @(i < 1 ? "disabled" : "")" @onclick="e => TaskStepMoveUp(index)">
                      <ArrowUpIcon />
                    </button>
                  </div>
                  <div class="">
                    <button type="button" class="btn btn-ghost-danger btn-icon @(Task.TaskDetails.Count() <= 1 ? "disabled" : "")" @onclick="e => TaskRemoveStep(index)">
                      <TrashIcon />
                    </button>
                  </div>
                  <div class="">
                    <button type="button" class="btn btn-ghost-secondary btn-icon @(i >= Task.TaskDetails.Count() - 1 ? "disabled" : "")"  @onclick="e => TaskStepMoveDown(index)">
                      <ArrowDownIcon />
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>
          }
          <div class="row">
            <button type="button" class="btn btn-secondary w-8 mx-auto" @onclick="TaskAddStep">
              Add A Step
            </button>
          </div>
        </div>
        @if (Id != null)
        {
          <div class="modal-body">
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Create Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@Task.CreatedAt</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Last Update Time</label>
              <div class="col">
                <div class="col form-control-plaintext">@Task.UpdatedAt</div>
              </div>
            </div>
          </div>
        }
        <div class="modal-footer">
          <a type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          @if (Id != null)
          {
            <button type="button" class="btn btn-danger ms-auto" data-bs-toggle="modal" data-bs-target="#Task">
              Delete
            </button>
            <button type="submit" class="btn btn-primary ms-2">
            Update
          </button>
          }
          else
          {
            <button type="submit" class="btn btn-primary ms-auto">
              Create
            </button>
          }
        </div>
      </EditForm>
    </div>
  </div>
</div>

@if (Id != null)
{
  <div class="modal fade" id="taskDeleteModal" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">Delete Task</div>
        <ModalSubmitError Display="IsError" Crud="@CrudOperation.Delete" />
        <div>The Task @(Task.Name != null ? $"\"{Task.Name}\" (ID: {Task.Id})" : $"ID: {Task.Id}") will be deleted.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="HandleDelete">Yes</button>
      </div>
    </div>
  </div>
</div>
}