@attribute [Route(AppRoutes.Navigation.Flows.Create)]
@attribute [Route(AppRoutes.Navigation.Flows.Detail)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Navigation/Flows/Read")]
@using LGDXRobot2Cloud.Utilities.Enums
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Flow" : "Create Flow")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Navigation.Flows.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit Flow" : "Create Flow")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Flow Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <ApiErrorAlert Errors="FlowDetailViewModel.Errors" />
        <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@FlowDetailViewModel.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="@nameof(FlowDetailViewModel.Name)">Name</label>
          <div class="col">
            <InputText id="@nameof(FlowDetailViewModel.Name)"type="text" class="form-control"  @bind-Value="FlowDetailViewModel.Name" />
            <ValidationMessage class="invalid-feedback" For="@(() => FlowDetailViewModel.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required">Flow Detail</label>
          <div class="col">
            <div class="invalid-feedback" style="display: block;">@_editContext.GetValidationMessages(() => FlowDetailViewModel.FlowDetails).FirstOrDefault()</div>
            <InformationModal>
              1. The "Moving" progress should be included in the flow.<br />
              2. An external API call is required for using "API" as proceed condition.
            </InformationModal>
            <table class="table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">@(Id != null ? "Id" : "Order")</th>
                  <th class="w-1"></th>
                  <th class="w-25">Progress Name</th>
                  <th>Proceed Condition</th>
                  <th class="w-25">Trigger</th>
                  <th class="w-1"><!-- Action --></th>
                </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < FlowDetailViewModel.FlowDetails.Count(); i++)
                {
                  var index = i;
                  var flowDetail = FlowDetailViewModel.FlowDetails[i];
                  <tr>
                    <td>
                      @if (flowDetail.Id != null) {
                        @flowDetail.Id
                      }
                      else if(Id == null) {
                        @(index + 1)
                      }
                    </td>
                    <td>
                      <button type="button" class="btn btn-ghost-secondary btn-icon @(i < 1 ? "disabled" : "")" @onclick="e => FlowStepMoveUp(index)">
                        <i class="ti ti-arrow-up" style="font-size: 16px;"></i>
                      </button>
                      <button type="button" class="btn btn-ghost-secondary btn-icon @(i >= FlowDetailViewModel.FlowDetails.Count() - 1 ? "disabled" : "")"  @onclick="e => FlowStepMoveDown(index)">
                        <i class="ti ti-arrow-down" style="font-size: 16px;"></i>
                      </button>
                    </td>
                    <td>
                      <InputSelect id="@(AdvanceSelectElements[0] + i.ToString())" class="form-control" @bind-Value="flowDetail.ProgressId">
                        @if (flowDetail.ProgressName != null)
                        {
                          <option value="@flowDetail.ProgressId">@flowDetail.ProgressName</option>
                        }
                      </InputSelect>
                    </td>
                    <td>
                      <select class="form-select" value="@flowDetail.AutoTaskNextControllerId" @onchange="@((e) => HandleProceedConditionChange(index, e.Value ?? string.Empty))">
                        @foreach (AutoTaskNextController controller in Enum.GetValues(typeof(AutoTaskNextController)))
                        {
                          <option value="@((int) controller)">@(controller.ToEnumMember())</option>
                        }
                      </select>
                    </td>
                    <td>
                      <InputSelect id="@(AdvanceSelectElements[1] + i.ToString())" class="form-control" @bind-Value="flowDetail.TriggerId">
                        @if (flowDetail.TriggerName != null)
                        {
                          <option value="@flowDetail.TriggerId">@flowDetail.TriggerName</option>
                        }
                      </InputSelect>
                    </td>
                    <td>
                      <button type="button" class="btn btn-ghost-danger btn-icon @(FlowDetailViewModel.FlowDetails.Count() <= 1 ? "disabled" : "")" @onclick="e => FlowRemoveStep(index)">
                        <i class="ti ti-trash" style="font-size: 16px;"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <button type="button" class="btn btn-secondary w-8 mx-auto" @onclick="FlowAddStep">
                Add Process
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Flows/Delete" Context="Delete">
          @if (Id != null)
          {
            <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          }
        </AuthorizeView>
        <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Flows/Write" Context="Write">
          <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
        </AuthorizeView>
      </div>
    </EditForm>
  </div>
</PageBody>

<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Flows/Delete" Context="DeleteModal">
  @if (Id != null)
  {
    <DeleteEntryModal EntryName="Flow" OnDelete="HandleDelete" />
  }
</AuthorizeView>
