@using LGDXRobot2Cloud.Shared.Models.Blazor

<div class="table-responsive">
  <table class="table card-table table-vcenter text-nowrap datatable">
    <tbody>
      <tr>
        <td>CPU Model</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.Cpu : "-")</td>
      </tr>
      <tr>
        <td>CPU Endianness</td>
        <td>@(RobotSystemInfo != null ? (RobotSystemInfo.IsLittleEndian ? "Little-endian" : "Big-endian") : "-")</td>
      </tr>
      <tr>
        <td>Motherboard Model</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.Motherboard : "-")</td>
      </tr>
      <tr>
        <td>Motherboard Serial Number</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.MotherboardSerialNumber : "-")</td>
      </tr>
      <tr>
        <td>RAM Size</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.RamMiB + " MiB" : "-")</td>
      </tr>
      <tr>
        <td>GPU Model</td>
        <td>@(RobotSystemInfo?.Gpu != null ? RobotSystemInfo?.Gpu : "-")</td>
      </tr>
      <tr>
        <td>Operation System</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.Os : "-")</td>
      </tr>
      <tr
        <td>System Type</td>
        <td>@(RobotSystemInfo != null ? (RobotSystemInfo.Is32Bit ? "32 Bit" : "64 Bit") : "-")</td>
      </tr>
      <tr>
        <td>Create Time</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.CreatedAt : "-")</td>
      </tr>
      <tr>
        <td>Last Update Time</td>
        <td>@(RobotSystemInfo != null ? RobotSystemInfo.UpdatedAt : "-")</td>
      </tr>
    </tbody>
  </table>
</div>

@code
{
  [Parameter]
  public RobotSystemInfoBlazor? RobotSystemInfo { get; set; }
}