@attribute [Route(AppRoutes.Robot.Nodes.Create)]
@attribute [Route(AppRoutes.Robot.Nodes.Detail)]
@using LGDXRobot2Cloud.UI.Components.Shared.Modals
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? "Edit Node" : "Create Node")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Robot.Nodes.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? "Edit Node" : "Create Node")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Node Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <SubmitErrorModal Display="@IsError" />
        <ValidationErrorModal Display="@_editContext.GetValidationMessages().Any()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@Node.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Name">Name</label>
          <div class="col">
            <InputText id="Name" @bind-Value="Node.Name" type="text" class="form-control" />
            <ValidationMessage class="invalid-feedback" For="@(() => Node.Name)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="ProcessName">Process Name</label>
          <div class="col">
            <InputText id="ProcessName" @bind-Value="Node.ProcessName" type="text" class="form-control"
              placeholder="e.g. ros2 launch" />
            <ValidationMessage class="invalid-feedback" For="@(() => Node.ProcessName)" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="Arguments">Arguments</label>
          <div class="col">
            <InputTextArea id="Arguments" @bind-Value="Node.Arguments" class="form-control" rows="3"
              placeholder="e.g. lgdxrobot2_navigation nav2_rtabmap.launch.py"></InputTextArea>
            <ValidationMessage class="invalid-feedback" For="@(() => Node.Arguments)" />
          </div>
        </div>
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Create Time</label>
            <div class="col">
              <div class="col form-control-plaintext">@Node.CreatedAt</div>
            </div>
          </div>
          <div class="mb-3 row">
          <label class="col-3 col-form-label">Last Update Time</label>
          <div class="col">
            <div class="col form-control-plaintext">@Node.UpdatedAt</div>
          </div>
        </div>
        }
      </div>
      <div class="card-footer d-flex">
        @if (Id != null)
        {
          <a class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
          </a>
        }
        <button type="submit" class="btn btn-primary ms-auto">@(Id != null ? "Update" : "Create")</button>
      </div>
    </EditForm>
  </div>
</PageBody>

@if (Id != null)
{
  <DeleteEntryModal EntryName="Node" OnDelete="HandleDelete" />
}