@using LGDXRobot2Cloud.Utilities.Enums
<LayoutView Layout="@typeof(MainLayout)">
  <h1>Action Needed: Trigger Failed for Task</h1>
  <p>
    We encountered an issue while executing the API call trigger for your robot during its task.
  </p>
  <p>
    <table>
      <tr><td>Trigger ID</td><td>@TriggerId</td></tr>
      <tr><td>Trigger Name</td><td>@TriggerName</td></tr>
      <tr><td>Trigger URL</td><td><Link HREF="@TriggerUrl">@TriggerUrl</Link></td></tr>
      <tr><td>HTTP Method</td><td>@(((TriggerHttpMethod)int.Parse(HttpMethodId)).ToEnumMember())</td></tr>
      <tr><td>Status Code</td><td>@StatusCode</td></tr>
      <tr><td>Reason</td><td>@Reason</td></tr>
      <tr><td>Task ID</td><td>@AutoTaskId</td></tr>
      <tr><td>Task Name</td><td>@(AutoTaskName != string.Empty ? AutoTaskName : "<None>")</td></tr>
      <tr><td>Robot ID</td><td>@RobotId</td></tr>
      <tr><td>Robot Name</td><td>@RobotName</td></tr>
      <tr><td>Realm ID</td><td>@RealmId</td></tr>
      <tr><td>Realm Name</td><td>@RealmName</td></tr>
    </table>
  </p>
  <p>
    This issue may impact the robot's operation.
  </p>
</LayoutView>

@code {
  [Parameter]
  public string TriggerId { get; set; } = string.Empty;

  [Parameter]
  public string TriggerName { get; set; } = string.Empty;

  [Parameter]
  public string TriggerUrl { get; set; } = string.Empty;

  [Parameter]
  public string HttpMethodId { get; set; } = "1";

  [Parameter]
  public string StatusCode { get; set; } = string.Empty;

  [Parameter]
  public string Reason { get; set; } = string.Empty;

  [Parameter]
  public string AutoTaskId { get; set; } = string.Empty;

  [Parameter]
  public string AutoTaskName { get; set; } = string.Empty;

  [Parameter]
  public string RobotId { get; set; } = string.Empty;

  [Parameter]
  public string RobotName { get; set; } = string.Empty;

  [Parameter]
  public string RealmId { get; set; } = string.Empty;

  [Parameter]
  public string RealmName { get; set; } = string.Empty;
}