<LayoutView Layout="@typeof(MainLayout)">
  <h1>Welcome To LGDXRobot2</h1>
  <p>
    Your account has been successfully created! Your username is <b>@UserName</b>. Please set your password to activate your account:
  </p>
  <Button HREF="@GenerateUrl()">Set Password</Button>
  <p>
    Or you can use this link instead: <Link HREF="@GenerateUrl()">@GenerateUrl()</Link>
  </p>
</LayoutView>

@code {
  [Parameter]
  public string UserName { get; set; } = string.Empty;

  [Parameter]
  public string Email { get; set; } = string.Empty;

  [Parameter]
  public string Token { get; set; } = string.Empty;

  [Parameter]
  public string Url { get; set; } = string.Empty;

  public string GenerateUrl()
  {
    return $"{Url}?Token={Token}&Email={Email}?NewUser=true";
  }
}