<LayoutView Layout="@typeof(MainLayout)">
  <h1>Welcome To LGDXRobot2</h1>
  <p>
    Your account has been successfully created! To get started, log in to your account with your username <b>@UserName</b>, with password provided by your administrator:
  </p>
  <Button HREF="@Url">Login Now</Button>
  <p>
    Or you can use this link instead: <Link HREF="@Url">@Url</Link>
  </p>
</LayoutView>

@code {
  [Parameter]
  public string UserName { get; set; } = string.Empty;

  [Parameter]
  public string Url { get; set; } = string.Empty;
}