@page "/setting/apikeys"
@using LGDXRobot2Cloud.UI.Components.ApiKeys
@rendermode InteractiveServer

<PageHeader Title="API Keys">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        API Keys
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#apiKeyDetailModal" @onclick="@(e => SecretId = null)">
        Create API Key
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ul class="nav nav-bordered mb-4">
    @for (int i = 0; i < Tabs.Count; i++)
    {
      var index = i;
      <li class="nav-item">
        @if (@CurrentTab == i) 
        {
          <button class="nav-link active">@Tabs[i]</button>
        }
        else 
        {
          <button class="nav-link" @onclick="@(e => HandleTabChange(index))">@Tabs[i]</button>
        }
      </li>
    }
  </ul>

  <ModalSubmitDone EntityName="Api Key" @ref="ModalSubmitDone"/>

  @if (CurrentTab == 0)
  {
    <LgdxApiTable OnIdSelected="HandleItemSelect" @ref="LgdxApiTable" />
  }
  else if (CurrentTab == 1)
  {
    <ThirdPartyApiTable OnIdSelected="HandleItemSelect" @ref="ThirdPartyApiTable" />
  }
</PageBody>

<ApiKeyDetail OnSubmitDone="HandleSubmitDoneOpen" Id="SecretId" />
<ApiKeySecretDetail IsThirdParty="@(CurrentTab == 1)" OnSubmitDone="HandleSubmitDoneOpen" Id="SecretId" />
