@page "/robots/nodes"

<PageHeader Title="Nodes">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <a href="#" class="btn btn-primary d-none d-sm-inline-block">
        Create Node
      </a>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="col-12">
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <h3 class="card-title">Saved Nodes</h3>
      </div>
      <!-- Filter -->
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-secondary">
            Show
            <div class="mx-2 d-inline-block">
              <input type="text" class="form-control form-control-sm" size="3" @bind="DataEntriesNumber"> 
            </div>
            entries
            <div class="ms-1 d-inline-block">
              <button type="button" class="btn btn-primary btn-sm" @onclick="ChangeShowingEntries">Update</button>
            </div>
          </div>
          <div class="ms-auto text-secondary">
            Search:
            <div class="ms-2 d-inline-block">
              <input type="text" class="form-control form-control-sm" @bind="DataSearch">
            </div>
            <div class="ms-1 d-inline-block">
              <button type="button" class="btn btn-primary btn-sm" @onclick="SearchEntries">Search</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Data -->
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th class="w-1">ID</th>
              <th>Name</th>
              <th>Process Name</th>
              <th class="w-100">Arguments</th>
              <th>Creat Time</th>
              <th>Update Time</th>
              <th><!-- Action --></th>
            </tr>
          </thead>
          @if (NodesList != null)
          {
            <tbody>
              @foreach (var node in NodesList)
              {
                <tr>
                  <td>@node.Id</td>
                  <td>@node.Name</td>
                  <td>@node.ProcessName</td>
                  <td>@node.Arguments</td>
                  <td>@node.CreatedAt</td>
                  <td>@node.UpdatedAt</td>
                  <td class="text-end">
                    <a href="#">Edit</a>
                  </td>
                </tr>
              }
            </tbody>
          }
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- Footer -->
      @if (PaginationMetadata != null && NodesList != null)
      {
        <div class="card-footer d-flex align-items-center">
          <p class="m-0 text-secondary">Showing 
            <span>@((PaginationMetadata.CurrentPage - 1) * PaginationMetadata.PageSize + 1)</span> to 
            <span>@((PaginationMetadata.CurrentPage - 1) * PaginationMetadata.PageSize + NodesList.Count)</span> of 
            <span>@PaginationMetadata.ItemCount</span> entries
          </p>
          <ul class="pagination m-0 ms-auto">
            <li class="page-item @(PaginationMetadata.CurrentPage == 1 ? "disabled" : "")"
              @onclick="@(e => ChangePage(e, PaginationMetadata.CurrentPage - 1))">
              <a class="page-link" href="" @onclick:preventDefault>
                <ChevronLeft />
              </a>
            </li>
            <li class="page-item @(PaginationMetadata.CurrentPage == 1 ? "active" : "")"
              @onclick="@(e => ChangePage(e, 1))">
              <a class="page-link" href="" @onclick:preventDefault>1</a>
            </li>
            @for (int i = 2; i < PaginationMetadata.PageCount; i++)
            {
              var index = i;
              <li class="page-item @(PaginationMetadata.CurrentPage == index ? "active" : "")"
                @onclick="@(e => ChangePage(e, index))">
                <a class="page-link" href="" @onclick:preventDefault>@index</a>
              </li>
            }
            @if (PaginationMetadata.PageCount > 1)
            {
              <li class="page-item @(PaginationMetadata.CurrentPage == PaginationMetadata.PageCount ? "active" : "")"
                @onclick="@(e => ChangePage(e, PaginationMetadata.PageCount))">
                <a class="page-link" href="" @onclick:preventDefault>@PaginationMetadata.PageCount</a>
              </li>
            }
            <li class="page-item @(PaginationMetadata.CurrentPage == PaginationMetadata.PageCount ? "disabled" : "")"
              @onclick="@(e => ChangePage(e, PaginationMetadata.CurrentPage + 1))">
              <a class="page-link" href="" @onclick:preventDefault>
                <ChevronRight />
              </a>
            </li>
          </ul>
        </div>
      }
    </div>
  </div>
</PageBody>

