@page "/robots/nodes"

<PageHeader Title="Nodes">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <a href="#" class="btn btn-primary d-none d-sm-inline-block">
        Create Node
      </a>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="col-12">
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <h3 class="card-title">Saved Nodes</h3>
      </div>
      <!-- Filter -->
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-secondary">
            Show
            <div class="mx-2 d-inline-block">
              <input type="text" class="form-control form-control-sm" size="3" @bind="DataEntriesNumber">
            </div>
            entries
            <div class="ms-1 d-inline-block">
              <button type="button" class="btn btn-primary btn-sm" @onclick="ChangeShowingEntries">Update</button>
            </div>
          </div>
          <div class="ms-auto text-secondary">
            Search:
            <div class="ms-2 d-inline-block">
              <input type="text" class="form-control form-control-sm" @bind="DataSearch">
            </div>
            <div class="ms-1 d-inline-block">
              <button type="button" class="btn btn-primary btn-sm" @onclick="SearchEntries">Search</button>
            </div>
          </div>
        </div>
      </div>
      @if (PaginationMetadata != null && NodesList != null)
      {
        <!-- Data -->
        <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th class="w-1">ID</th>
              <th>Name</th>
              <th>Process Name</th>
              <th class="w-100">Arguments</th>
              <th>Creat Time</th>
              <th>Update Time</th>
              <th><!-- Action --></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var node in NodesList)
              {
                <tr>
                  <td>@node.Id</td>
                  <td>@node.Name</td>
                  <td>@node.ProcessName</td>
                  <td>@node.Arguments</td>
                  <td>@node.CreatedAt</td>
                  <td>@node.UpdatedAt</td>
                  <td class="text-end">
                    <a href="#">Edit</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          @if (NodesList.Count() == 0)
          {
            <TableEmpty />
          }
        </div>
        <!-- Footer -->
        @if (NodesList.Count() > 0)
        {
          <TablePagination PaginationMetadata="PaginationMetadata" ItemCount="NodesList.Count()"
            OnPageChange="ChangePage" />
        }

      }
    </div>
  </div>
</PageBody>
