@page "/setting/secrets"
@using LGDXRobot2Cloud.UI.Components.Secrets
@rendermode InteractiveServer

<PageHeader Title="Secrets">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Secrets
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#apiKeyDetailModal" @onclick="@(e => _secretId = null)">
        Create API Key
      </button>
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#">
        Import Certificate
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ul class="nav nav-bordered mb-4">
    @for (int i = 0; i < _tabs.Count; i++)
    {
      var index = i;
      <li class="nav-item">
        <button class="nav-link @(@_currentTab == i ? "active" : "")" @onclick="@(e => HandleTabChange(index))">@_tabs[i]</button>
      </li>
    }
  </ul>

  <ModalSubmitDone EntityName="@_entitiesName[_currentTab]" @ref="_modalSubmitDone"/>

  @if (_currentTab == 0)
  {
    <LgdxApiTable OnIdSelected="HandleItemSelect" @ref="_lgdxApiTable" />
  }
  else if (_currentTab == 1)
  {
    <p>TP</p>
  }
  else if (_currentTab == 2)
  {
    <p>cert</p>
  }
</PageBody>

<ApiKeyDetail OnSubmitDone="HandleSubmitDoneOpen" Id="_secretId" />
<ApiKeySecretDetail IsThirdParty="@(_currentTab == 1)" OnSubmitDone="HandleSubmitDoneOpen" Id="_secretId" />
