<LayoutView Layout="@typeof(MainLayout)">
  <h1>Reset Your Password</h1>
  <p>
    We received a request to reset the password for your account with the username <b>@UserName</b>. Click the button below to set a new password:
  </p>
  <Button HREF="@GenerateUrl()">Set Password</Button>
  <p>
    Or you can copy and paste this link into your browser:
    <br />
    <Link HREF="@GenerateUrl()">@GenerateUrl()</Link>
  </p>
  <p>
    If you didn't request a password reset, please ignore this email or contact your administrator.
  </p>
</LayoutView>

@code {
  [Parameter]
  public string UserName { get; set; } = string.Empty;

  [Parameter]
  public string Email { get; set; } = string.Empty;

  [Parameter]
  public string Token { get; set; } = string.Empty;

  [Parameter]
  public string Url { get; set; } = string.Empty;

  public string GenerateUrl()
  {
    return $"{Url}?Token={Token}&Email={Email}";
  }
}