@attribute [Route(AppRoutes.Identity.ResetPassword)]
@layout AuthLayout

<div style="display: none;">
  <PageTitle>@(NewUser ? "Setup" : "Reset") Password | LGDXRobot2 Cloud</PageTitle>
</div>

<a href="@AppRoutes.Identity.Login">◀ Return</a>
<h2 class="h2 text-center mb-4">@(NewUser ? "Setup" : "Reset") Password</h2>
<EditForm EditContext="_editContext" method="post" OnValidSubmit="HandleResetPassword" FormName="ResetPassword">
  @if (ResetPasswordViewModel.IsSuccess)
  {
    <p>Your password has been updated successfully. Please log in with your new password.</p>
  }
  else
  {
    <DataAnnotationsValidator />
    <ApiErrorAlert Errors="ResetPasswordViewModel.Errors" />
    <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
    <div class="mb-3">
      <label class="form-label" for="@nameof(ResetPasswordViewModel.NewPassword)">New Password</label>
      <InputText id="@nameof(ResetPasswordViewModel.NewPassword)" type="password" class="form-control" autocomplete="off" @bind-Value="ResetPasswordViewModel.NewPassword" />
      <ValidationMessage class="invalid-feedback" For="@(() => ResetPasswordViewModel.NewPassword)" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="@nameof(ResetPasswordViewModel.ConfirmPassword)">Confirm Password</label>
      <InputText id="@nameof(ResetPasswordViewModel.ConfirmPassword)" type="password" class="form-control" autocomplete="off" @bind-Value="ResetPasswordViewModel.ConfirmPassword" />
      <ValidationMessage class="invalid-feedback" For="@(() => ResetPasswordViewModel.ConfirmPassword)" />
    </div>
    <div class="form-footer">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  }
</EditForm>