@using LGDXRobot2Cloud.UI.Constants;

<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
			aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark sidebar-logo sidebar-item">
			<a href="">
				<img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
			</a>
		</h1>
		<div class="nav-item sidebar-item">
			<UserMenu />
		</div>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav">
				<NavItem href="" Match="NavLinkMatch.All">
					Home
				</NavItem>

				<AuthorizeView Policy="@Permissions.Navigation.Robots.Read" Context="Map">
					<NavItem href="@AppRoutes.Map">
						Map
					</NavItem>
				</AuthorizeView>

				<AuthorizeView Policy="@Permissions.Navigation.Area" Context="Navigation">
					<NavDropdown title="Navigation" href="Navigation">
						<div class="dropdown-menu-column">
							<AuthorizeView Policy="@Permissions.Navigation.Realms.Action" Context="NavigationRealms">
								<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Realms.Index">
									Realms
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="@Permissions.Navigation.Waypoints.Action" Context="NavigationWaypoints">
								<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Waypoints.Index">
									Waypoints
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="@Permissions.Navigation.Robots.Action" Context="NavigationRobots">
								<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Robots.Index">
									Robots
								</NavLink>
							</AuthorizeView>
						</div>
					</NavDropdown>
				</AuthorizeView>

				<AuthorizeView Policy="@Permissions.Automation.Area" Context="Automation">
					<NavDropdown title="Automation" href="Automation">
						<AuthorizeView Policy="@Permissions.Automation.AutoTasks.Action" Context="AutomationAutoTasks">
							<NavLink class="dropdown-item" href="@AppRoutes.Automation.AutoTasks.Index">
								Tasks
							</NavLink>
						</AuthorizeView>
						<AuthorizeView Policy="@Permissions.Automation.Flows.Action" Context="AutomationFlows">
							<NavLink class="dropdown-item" href="@AppRoutes.Automation.Flows.Index">
								Flows
							</NavLink>
						</AuthorizeView>
						<AuthorizeView Policy="@Permissions.Automation.Progresses.Action" Context="AutomationProgresses">
								<NavLink class="dropdown-item" href="@AppRoutes.Automation.Progresses.Index">
								Progresses
							</NavLink>
						</AuthorizeView>
						<AuthorizeView Policy="@Permissions.Automation.Triggers.Action" Context="AutomationTriggers">
							<NavLink class="dropdown-item" href="@AppRoutes.Automation.Triggers.Index">
								Triggers
							</NavLink>
						</AuthorizeView>
						<AuthorizeView Policy="@Permissions.Automation.TriggerRetries.Action" Context="AutomationTriggerRetries">
							<NavLink class="dropdown-item" href="@AppRoutes.Automation.TriggerRetries.Index">
								Trigger Retries
							</NavLink>
						</AuthorizeView>
					</NavDropdown>
				</AuthorizeView>
				
				<AuthorizeView Policy="@Permissions.Administration.Area" Context="RobotSetting">
					<NavDropdown title="Administration" href="Administration">
						<div class="dropdown-menu-column">
							<AuthorizeView Policy="@Permissions.Administration.Users.Action" Context="AdministrationUsers">
								<NavLink class="dropdown-item" href="@AppRoutes.Administration.Users.Index">
									Users
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="@Permissions.Administration.Roles.Action" Context="AdministrationRoles">
								<NavLink class="dropdown-item" href="@AppRoutes.Administration.Roles.Index">
									Roles
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="@Permissions.Administration.ApiKeys.Action" Context="AdministrationApiKeys">
								<NavLink class="dropdown-item" href="@AppRoutes.Administration.ApiKeys.Index">
									API Keys
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="@Permissions.Administration.RobotCertificates.Action" Context="AdministrationCertificates">
								<NavLink class="dropdown-item" href="@AppRoutes.Administration.RobotCertificates.Index">
									Robots Certificates
								</NavLink>
							</AuthorizeView>
						</div>
					</NavDropdown>
				</AuthorizeView>
			</ul>
		</div>
	</div>
</aside>