@using LGDXRobot2Cloud.UI.Constants;

<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
			aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark sidebar-logo sidebar-item">
			<a href="">
				<img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
			</a>
		</h1>
		<div class="nav-item sidebar-item">
			<UserMenu />
		</div>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav">
				<NavItem href="" Match="NavLinkMatch.All">
					Home
				</NavItem>
				<NavDropdown title="Navigation" href="navigation">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Map.Index">
							Map
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Tasks.Index">
							Tasks
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Waypoints.Index">
							Waypoints
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Flows.Index">
							Flows
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Triggers.Index">
							Triggers
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Progresses.Index">
							Progresses
						</NavLink>
					</div>
				</NavDropdown>
				<NavDropdown title="Robot" href="robot">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="@AppRoutes.Robot.Robots.Index">
							Robots
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Robot.Nodes.Index">
							Nodes
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Robot.NodesCollections.Index">
							Nodes Collections
						</NavLink>
					</div>
				</NavDropdown>
				<NavDropdown title="Setting" href="setting">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="@AppRoutes.Setting.Users.Index">
							Users Management
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Setting.Roles.Index">
							Roles
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Setting.ApiKeys.Index">
							API Keys
						</NavLink>
						<NavLink class="dropdown-item" href="@AppRoutes.Setting.Certificates.Index">
							Certificates
						</NavLink>
					</div>
				</NavDropdown>
			</ul>
		</div>
	</div>
</aside>