@using LGDXRobot2Cloud.UI.Constants;

<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
			aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark sidebar-logo sidebar-item">
			<a href="">
				<img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
			</a>
		</h1>
		<div class="nav-item sidebar-item">
			<UserMenu />
		</div>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav">
				<NavItem href="" Match="NavLinkMatch.All">
					Home
				</NavItem>
				<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation" Context="Navigation">
					<NavDropdown title="Navigation" href="navigation">
						<div class="dropdown-menu-column">
							<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Maps" Context="NavigationMaps">
								<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Maps.Index">
									Realms
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Waypoints" Context="NavigationWaypoints">
								<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Waypoints.Index">
									Waypoints
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="ValidateLgdxUserAccess/Robot/Robots" Context="RobotRobots">
								<NavLink class="dropdown-item" href="@AppRoutes.Robot.Robots.Index">
									Robots
								</NavLink>
							</AuthorizeView>
						</div>
					</NavDropdown>
				</AuthorizeView>
				<NavDropdown title="Automation" href="automation">
					<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks" Context="NavigationTasks">
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Tasks.Index">
							Tasks
						</NavLink>
					</AuthorizeView>
					<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Flows" Context="NavigationFlows">
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Flows.Index">
							Flows
						</NavLink>
					</AuthorizeView>
					<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Progresses" Context="NavigationProgresses">
							<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Progresses.Index">
							Progresses
						</NavLink>
					</AuthorizeView>
					<AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Triggers" Context="NavigationTriggers">
						<NavLink class="dropdown-item" href="@AppRoutes.Navigation.Triggers.Index">
							Triggers
						</NavLink>
					</AuthorizeView>
					<NavLink class="dropdown-item" href="@AppRoutes.Automation.TriggerRetries.Index">
						Trigger Retries
					</NavLink>
				</NavDropdown>
				<AuthorizeView Policy="ValidateLgdxUserAccess/Setting" Context="RobotSetting">
					<NavDropdown title="Administration" href="setting">
						<div class="dropdown-menu-column">
							<AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Users" Context="IdentityUsers">
								<NavLink class="dropdown-item" href="@AppRoutes.Setting.Users.Index">
									Users
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles" Context="IdentityRoles">
								<NavLink class="dropdown-item" href="@AppRoutes.Setting.Roles.Index">
									Roles
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="ValidateLgdxUserAccess/Setting/ApiKeys" Context="IdentityApiKeys">
								<NavLink class="dropdown-item" href="@AppRoutes.Setting.ApiKeys.Index">
									API Keys
								</NavLink>
							</AuthorizeView>
							<AuthorizeView Policy="ValidateLgdxUserAccess/Setting/Certificates" Context="IdentityCertificates">
								<NavLink class="dropdown-item" href="@AppRoutes.Setting.Certificates.Index">
									Certificates
								</NavLink>
							</AuthorizeView>
						</div>
					</NavDropdown>
				</AuthorizeView>
			</ul>
		</div>
	</div>
</aside>