@using LGDXRobot2Cloud.UI.Models
@using LGDXRobot2Cloud.Utilities.Enums

@if (RobotChassisInfo != null)
{
  <div class="mb-3 row">
    <label class="col-3 col-form-label required">Robot Type</label>
    <div class="col">
      <select class="form-select" value="@RobotChassisInfo.LgdxRobotTypeId" @onchange="@((e) => HandleLgdxRobotTypeId(e.Value ?? string.Empty))">
        @foreach (LgdxRobotType robotType in Enum.GetValues(typeof(LgdxRobotType)))
        {
          <option value="@((int) robotType)">@(robotType.ToEnumMember())</option>
        }
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Chassis LX (m)</label>
    <div class="col">
      <InputNumber id="ChassisLX" @bind-Value="RobotChassisInfo.ChassisLX" type="number" step="any" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.ChassisLX)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Chassis LY (m)</label>
    <div class="col">
      <InputNumber id="ChassisLY" @bind-Value="RobotChassisInfo.ChassisLY" type="number" step="any" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.ChassisLY)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Chassis Wheel Count</label>
    <div class="col">
      <InputNumber id="ChassisWheelCount" @bind-Value="RobotChassisInfo.ChassisWheelCount" type="number" step="1" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.ChassisWheelCount)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Chassis Wheel Radius (m)</label>
    <div class="col">
      <InputNumber id="ChassisWheelRadius" @bind-Value="RobotChassisInfo.ChassisWheelRadius" type="number" step="any" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.ChassisWheelRadius)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Battery Count</label>
    <div class="col">
      <InputNumber id="BatteryCount" @bind-Value="RobotChassisInfo.BatteryCount" type="number" step="1" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.BatteryCount)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Battery Maximum Voltage (V)</label>
    <div class="col">
      <InputNumber id="BatteryMaxVoltage" @bind-Value="RobotChassisInfo.BatteryMaxVoltage" type="number" step="any" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.BatteryMaxVoltage)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Battery Minimum Voltage (V)</label>
    <div class="col">
      <InputNumber id="BatteryMaxBatteryMinVoltageoltage" @bind-Value="RobotChassisInfo.BatteryMinVoltage" type="number" step="any" class="form-control" />
      <ValidationMessage class="invalid-feedback" For="@(() => RobotChassisInfo.BatteryMinVoltage)" />
    </div>
  </div>
}

@code
{
  [Parameter]
  public RobotChassisInfo? RobotChassisInfo { get; set; }

  public void HandleLgdxRobotTypeId(object args)
  {
    RobotChassisInfo!.LgdxRobotTypeId = int.Parse(args.ToString() ?? string.Empty);
  }
} 