@attribute [Route(AppRoutes.Identity.User)]
@attribute [Authorize]
@rendermode InteractiveServer

<PageHeader Title="User Settings">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink />
      <h2 class="page-title">
        User Settings
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="row row-cards">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">User Detail</h3>
        </div>
        <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
          <DataAnnotationsValidator />
          <div class="card-body">
            <FormSubmissionSuccessAlert Display="UserDetailViewModel.IsSuccess" />
            <ApiErrorAlert Errors="UserDetailViewModel.Errors" />
            <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
            <div class="mb-3 row">
              <label class="col-3 col-form-label">ID</label>
              <div class="col">
                <div class="col form-control-plaintext">@UserDetailViewModel.Id</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Username</label>
              <div class="col">
                <div class="col form-control-plaintext">@UserDetailViewModel.UserName</div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(UserDetailViewModel.Name)">Full Name</label>
              <div class="col">
                <InputText id="@nameof(UserDetailViewModel.Name)" @bind-Value="UserDetailViewModel.Name" type="text" class="form-control" />
                <ValidationMessage class="invalid-feedback" For="@(() => UserDetailViewModel.Name)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(UserDetailViewModel.Email)">Email</label>
              <div class="col">
                <InputText id="@nameof(UserDetailViewModel.Email)" @bind-Value="UserDetailViewModel.Email" type="text" class="form-control" />
                <ValidationMessage class="invalid-feedback" For="@(() => UserDetailViewModel.Email)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label" for="@nameof(UserDetailViewModel.Roles)"Roles</label>
              <div class="col">
                <table class="table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">Sequence</th>
                      <th>Roles</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (int i = 0; i < UserDetailViewModel.Roles.Count; i++)
                    {
                      var index = i;
                      var roleName = UserDetailViewModel.Roles[i];
                      <tr>
                        <td>
                            @(index + 1)
                        </td>
                        <td>
                          @roleName
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <button type="submit" class="btn btn-primary ms-auto">Update</button>
          </div>
        </EditForm>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Password</h3>
        </div>
        <EditForm EditContext="@_editContextPassword" OnValidSubmit="HandleValidSubmitPassword">
        <DataAnnotationsValidator />
          <div class="card-body">
            <FormSubmissionSuccessAlert Display="UserDetailPasswordViewModel.IsSuccess" />
            <ApiErrorAlert Errors="UserDetailPasswordViewModel.Errors" />
            <FormValidationErrorAlert Errors="@_editContextPassword.GetValidationMessages()" />
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(UserDetailPasswordViewModel.CurrentPassword)">Current Password</label>
              <div class="col">
                <InputText id="@nameof(UserDetailPasswordViewModel.CurrentPassword)" @bind-Value="UserDetailPasswordViewModel.CurrentPassword" type="password" class="form-control" />
                <ValidationMessage class="invalid-feedback" For="@(() => UserDetailPasswordViewModel.CurrentPassword)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(UserDetailPasswordViewModel.NewPassword)">New Password</label>
              <div class="col">
                <InputText id="@nameof(UserDetailPasswordViewModel.NewPassword)" @bind-Value="UserDetailPasswordViewModel.NewPassword" type="password" class="form-control" />
                <ValidationMessage class="invalid-feedback" For="@(() => UserDetailPasswordViewModel.NewPassword)" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label required" for="@nameof(UserDetailPasswordViewModel.ConfirmPassword)">Confirm Password</label>
              <div class="col">
                <InputText id="@nameof(UserDetailPasswordViewModel.ConfirmPassword)" @bind-Value="UserDetailPasswordViewModel.ConfirmPassword" type="password" class="form-control" />
                <ValidationMessage class="invalid-feedback" For="@(() => UserDetailPasswordViewModel.ConfirmPassword)" />
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <button type="submit" class="btn btn-primary ms-auto">Update</button>
          </div>
        </EditForm>
      </div>
    </div>
  </div>
</PageBody>