@attribute [Route(AppRoutes.Navigation.Robots.Detail)]
@attribute [Authorize (Policy = Permissions.Navigation.Robots.Read)]
@using LGDXRobot2Cloud.Utilities.Enums
@using LGDXRobot2Cloud.UI.Components.Pages.Navigation.Robots.Components

<PageHeader Title="Robots">
  <div class="row align-items-center">
    <div class="col">
      <ReturnLink HREF="@AppRoutes.Navigation.Robots.Index" ReturnUrl="@ReturnUrl" />
      @if (RobotDetailViewModel != null)
      {
        <h2 class="page-title">
          @RobotDetailViewModel.Name
          &nbsp;
          <RobotStatusBadge RobotStatus="@(RobotData != null ? RobotData.RobotStatus : RobotStatus.Offline)" />
        </h2>
      }
      else
      {
        <div class="placeholder-glow">
          <div class="placeholder col-2 placeholder-lg"></div>
          <div class="text-secondary">
            <div class="placeholder col-1"></div>
          </div>
        </div>
      }
    </div>
    <AuthorizeView Policy="@Permissions.Navigation.Robots.Write" Context="Control">
      @if (RobotData != null && RobotCommands != null && RobotData.RobotStatus != RobotStatus.Offline)
      {
        <div class="col-md-auto ms-auto d-print-none">
          <div class="btn-list">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pauseTaskAssigement" style="width: 185px;">
              @(RobotCommands.Commands.PauseTaskAssigement ? "Resume Task Assignment" : "Pause Task Assignment")
            </a>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#softwareEmergencyStop" style="width: 160px;">
              @(RobotCommands.Commands.SoftwareEmergencyStop ? "Resume This Robot" : "Stop This Robot")
            </a>
          </div>
        </div>
      }
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <div class="row row-cards">
    <div class="col-12">
      <DetailTasksCard AutoTasks="AutoTasks" />
    </div>
    <div class="col-12">
      <DetailRobotDataCard RobotData="RobotData" />
    </div>
    <div class="col-12">
      <ul class="nav nav-bordered mb-4">
        @for (int i = 0; i < Tabs.Count; i++)
        {
          var index = i;
          <li class="nav-item">
            @if (@CurrentTab == i) 
            {
              <button class="nav-link active">@Tabs[i]</button>
            }
            else 
            {
              <button class="nav-link" @onclick="@(e => HandleTabChange(index))">@Tabs[i]</button>
            }
          </li>
        }
      </ul>
      @if (CurrentTab == 0)
      {
        <DetailRobotInfoCard Robot="RobotDetailViewModel" />
      }
      else if (CurrentTab == 1)
      {
        <DetailSystemInfoCard RobotSystemInfo="RobotSystemInfoDto" />
      }
      else if (CurrentTab == 2)
      {
        <DetailChassisInfoCard Robot="RobotDetailViewModel" RobotChassisInfo="RobotChassisInfoViewModel" />
      }
      else if (CurrentTab == 3)
      {
        <DetailRobotCertificateCard RobotCertificate="RobotCertificate" />
      }
      else if (CurrentTab == 4)
      {
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Delete Robot</h3>
          </div>
          <div class="card-body">
            <AuthorizeView Policy="@Permissions.Navigation.Robots.Delete" Context="DeleteButton">
              <ApiErrorAlert Errors="DeleteEntryErrors" />
              <button type="button" class="btn btn-danger d-none d-sm-inline-block ms-auto" data-bs-toggle="modal"
                data-bs-target="#deleteModal" @onclick="HandleTestDelete">
                Delete Robot
              </button>
            </AuthorizeView>
          </div>
          <AuthorizeView Policy="@Permissions.Navigation.Robots.Delete" Context="DeleteModel">
            <DeleteEntryModal EntryName="Robot" Errors="DeleteEntryModalViewModel.Errors"
              IsReady="DeleteEntryModalViewModel.IsReady" OnDelete="HandleDelete">
              Do you want to delete this Robot? This action cannot be undone. You must first remove the following entities that reference this Robot:
              <ul>
                <li>Tasks (Running/Waiting/Template)</li>
              </ul>
            </DeleteEntryModal>
          </AuthorizeView>
        </div>
      }
    </div>
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Navigation.Robots.Write" Context="ControlModel">
  <PauseTaskAssigementModel RobotCommands="RobotCommands" />
  <SoftwareEmergencyStopModel RobotCommands="RobotCommands" />
</AuthorizeView>
