@using LGDXRobotCloud.Data.Models.Redis

<div class="card h-100">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Robot Data</h3>
  </div>

  <!-- Data -->
  @if (RobotData != null)
  {
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable">
        <tbody>
          <tr>
            <td>Position</td>
            <td>X: @Math.Round(RobotData.Position.X, 4), Y: @Math.Round(RobotData.Position.Y, 4), Rotation: @Math.Round(RobotData.Position.Rotation, 4)</td>
          </tr>
          <tr>
            <td>Batteries</td>
            <td>
              @if (RobotData.Batteries.Count() > 0)
              {
                @for (int i = 0; i < RobotData.Batteries.Count(); i++)
                {
                  @(' ')
                  <span class="badge badge-outline text-green" title="@($"Battery {i + 1}")">
                    @(RobotData.Batteries.ElementAt(i) + " V")
                  </span>
                }
              }
              else
              {
                <span class="badge badge-outline">Unavailable</span>
              }
            </td>
          </tr>
          <tr>
            <td>Emergency Stops</td>
            <td>Software: @RobotData.CriticalStatus.SoftwareEmergencyStop, Hardware: @RobotData.CriticalStatus.HardwareEmergencyStop</td>
          </tr>
          <tr>
            <td>Pause Task Assignment</td>
            <td>@RobotData.PauseTaskAssignment</td>
          </tr>
          <tr>
            <td>ETA</td>
            <td>@RobotData.NavProgress.Eta</td>
          </tr>
          <tr>
            <td>Recoveries</td>
            <td>@RobotData.NavProgress.Recoveries</td>
          </tr>
          <tr>
            <td>Distance Remaining</td>
            <td>@RobotData.NavProgress.DistanceRemaining</td>
          </tr>
          <tr>
            <td>Waypoints Remaining</td>
            <td>@RobotData.NavProgress.WaypointsRemaining</td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  else
  {
    <p class="text-secondary text-center my-3">The robot is offline.</p>
  }
</div>

@code
{
  // Assign the RobotData from Refresh to prevent full re-rendering 
  private RobotData? RobotData { get; set; }

  public async Task Refresh(RobotData? rd)
  {
    RobotData = rd;
    await InvokeAsync(StateHasChanged);
  }
}