@attribute [Route(AppRoutes.Navigation.Robots.Detail)]
@attribute [Authorize (Policy = Permissions.Navigation.Robots.Read)]
@using LGDXRobotCloud.Data.Entities
@using LGDXRobotCloud.UI.Components.Pages.Administration.ActivityLogs.Components;
@using LGDXRobotCloud.UI.Components.Pages.Navigation.Robots.Components
@using LGDXRobotCloud.Utilities.Enums

<DetailsHeader ReturnUrl="@ReturnUrl" RobotDetailsViewModel="@RobotDetailsViewModel" @ref="Header" />

<PageBody>
  <div class="row row-cards">
    <div class="col-12">
      <DetailsTasksCard AutoTasks="AutoTasks" />
    </div>
    <div class="col-12">
      <DetailsRobotDataCard @ref="RobotDataCard" />
    </div>
    <div class="col-12">
      <ul class="nav nav-bordered mb-4">
        @for (int i = 0; i < Tabs.Count; i++)
        {
          var index = i;
          <li class="nav-item">
            @if (@CurrentTab == i) 
            {
              <button class="nav-link active">@Tabs[i]</button>
            }
            else 
            {
              <button class="nav-link" @onclick="@(e => HandleTabChange(index))">@Tabs[i]</button>
            }
          </li>
        }
      </ul>
      @if (CurrentTab == 0)
      {
        <DetailsRobotInfoCard Robot="RobotDetailsViewModel" />
      }
      else if (CurrentTab == 1)
      {
        <DetailsSystemInfoCard RobotSystemInfo="RobotSystemInfoDto" />
      }
      else if (CurrentTab == 2)
      {
        <DetailsChassisInfoCard Robot="RobotDetailsViewModel" RobotChassisInfo="RobotChassisInfoViewModel" />
      }
      else if (CurrentTab == 3)
      {
        <DetailsRobotCertificateCard RobotCertificate="RobotCertificate" />
      }
      else if (CurrentTab == 4)
      {
        <AuthorizeView Policy=@Permissions.Administration.ActivityLogs.Read Context="ActivityLogs">
          <Authorized>
            <div class="col-12">
              <ActivityLogsTable DefaultEntityName="@nameof(Robot)" DefaultEntityId="@(Id.ToString())"
                ReturnUrl="@(AppRoutes.Navigation.Robots.Index + $"/{Id}")"/>
            </div>
          </Authorized>
          <NotAuthorized>
            <InformationAlert>
              You don't have permission to access Activity Logs
            </InformationAlert>
          </NotAuthorized>
        </AuthorizeView>
      }
      else if (CurrentTab == 5)
      {
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Delete Robot</h3>
          </div>
          <div class="card-body">
            <AuthorizeView Policy="@Permissions.Navigation.Robots.Delete" Context="DeleteButton">
              <ApiErrorAlert Errors="DeleteEntryErrors" />
              <button type="button" class="btn btn-danger d-none d-sm-inline-block ms-auto" data-bs-toggle="modal"
                data-bs-target="#deleteModal" @onclick="HandleTestDelete">
                Delete Robot
              </button>
            </AuthorizeView>
          </div>
          <AuthorizeView Policy="@Permissions.Navigation.Robots.Delete" Context="DeleteModel">
            <DeleteEntryModal EntryName="Robot" Errors="DeleteEntryModalViewModel.Errors"
              IsReady="DeleteEntryModalViewModel.IsReady" OnDelete="HandleDelete">
              Do you want to delete this Robot? This action cannot be undone. You must first remove the following entities that reference this Robot:
              <ul>
                <li>Tasks (Running/Waiting/Template)</li>
              </ul>
            </DeleteEntryModal>
          </AuthorizeView>
        </div>
      }
    </div>
  </div>
</PageBody>

<AuthorizeView Policy="@Permissions.Navigation.Robots.Write" Context="ControlModel">
  <PauseTaskAssignmentModel 
    Enabled="RobotData == null ? false : RobotData.PauseTaskAssignment"
    OnConfirm="HandlePauseTaskAssignment" />
  <SoftwareEmergencyStopModel
    Enabled="RobotData == null ? false : RobotData.CriticalStatus.SoftwareEmergencyStop"
    OnConfirm="HandleEmergencyStop" />
</AuthorizeView>
