@attribute [Route(AppRoutes.Navigation.Tasks.Create)]
@attribute [Route(AppRoutes.Navigation.Tasks.Detail)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Navigation/Tasks/Read")]
@using LGDXRobot2Cloud.Utilities.Enums
@using LGDXRobot2Cloud.UI.Components.Pages.Navigation.Tasks.Components
@rendermode InteractiveServer

<PageHeader Title="@(Id != null ? (IsEditable() ? "Update Task" : "View Task") : "Create Task")">
  <div class="row align-items-center">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item"><a href="@AppRoutes.Navigation.Tasks.Index">◀ Return</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        @(Id != null ? (IsEditable() ? "Update Task" : "View Task") : "Create Task")
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Task Detail</h3>
    </div>
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />
      <div class="card-body">
        <SubmitErrorModal Display="@IsError" />
        <ValidationErrorModal Display="@_editContext.GetValidationMessages().Any()" />
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">ID</label>
            <div class="col">
              <div class="col form-control-plaintext">@Task.Id</div>
            </div>
          </div>
        }
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="Name">Name</label>
          <div class="col">
            @if (IsEditable())
            {
              <InputText id="Name" @bind-Value="Task.Name" type="text" class="form-control"
                placeholder="Your task name" />
              <ValidationMessage class="invalid-feedback" For="@(() => Task.Name)" />
            }
            else
            {
              <div class="col form-control-plaintext">@Task.Name</div>
            }
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="Priority">Priority</label>
          <div class="col">
            @if (IsEditable())
            {
              <InputNumber id="Priority" @bind-Value="Task.Priority" class="form-control"
                placeholder="Higher number with higher priority" />
              <ValidationMessage class="invalid-feedback" For="@(() => Task.Priority)" />
            }
            else
            {
              <div class="col form-control-plaintext">@Task.Priority</div>
            }
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label required" for="FlowId">Flow</label>
          <div class="col">
            @if (IsEditable())
            {
              <InputSelect id="@(AdvanceSelectElements[0] + "0")" class="form-control" @bind-Value="Task.FlowId"
                placeholder="Search the name of the flow">
                @if (Task.FlowId != null)
                {
                  <option value="@Task.FlowId">@Task.FlowName</option>
                }
              </InputSelect>
              <ValidationMessage class="invalid-feedback" For="@(() => Task.FlowId)" />
            }
            else
            {
              <div class="col form-control-plaintext">@Task.FlowName</div>
            }
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-3 col-form-label" for="AssignedRobotId">Assign Robot</label>
          <div class="col">
            @if (IsEditable())
            {
              <InputSelect id="@(AdvanceSelectElements[1] + "0")" class="form-control" @bind-Value="Task.AssignedRobotId"
                placeholder="Search the name of the robot">
                @if (Task.AssignedRobotId != null)
                {
                  <option value="@Task.AssignedRobotId">@Task.AssignedRobotName</option>
                }
              </InputSelect>
              <ValidationMessage class="invalid-feedback" For="@(() => Task.AssignedRobotId)" />
            }
            else
            {
              <div class="col form-control-plaintext">@Task.AssignedRobotName</div>
            }
          </div>
        </div>
        @if (Id != null && !IsEditable())
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Current Progress</label>
            <div class="col">
              <div class="col form-control-plaintext">@Task.CurrentProgress.Name</div>
            </div>
          </div>
        }
        @if (Id == null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label pt-0"></label>
            <div class="col">
              <label class="form-check">
                <input class="form-check-input" type="checkbox" @bind="Task.IsTemplate">
                <span class="form-check-label">Create as Template Task</span>
              </label>
            </div>
          </div>
        }
        <div class="form-label">Waypoints</div>
        <div class="invalid-feedback" style="display: block;">@_editContext.GetValidationMessages(() => Task.Details).FirstOrDefault()</div>
        <table class="table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th class="w-1">ID</th>
              @if (IsEditable())
              {
                <th class="w-1"></th>
              }
              <th style="width:250px">Waypoint</th>
              <th>X</th>
              <th>Y</th>
              <th>Rotation</th>
              @if (IsEditable())
              {
                <th class="w-1"></th>
              }
            </tr>
          </thead>
          <tbody>
            @for (int i = 0; i < Task.Details.Count; i++)
            {
              var index = i;
              var taskDetail = Task.Details[i];
              <tr>
                <td>
                  @if (taskDetail.Id != null)
                  {
                    <div class="col col-form-label col-form-label-sm">@taskDetail.Id</div>
                  }
                </td>
                @if (IsEditable())
                {
                  <td>
                    <button type="button" class="btn btn-ghost-secondary btn-icon btn @(i < 1 ? "disabled" : "")"
                      @onclick="e => TaskStepMoveUp(index)">
                      <i class="ti ti-arrow-up" style="font-size: 16px;"></i>
                    </button>
                    <button type="button"
                      class="btn btn-ghost-secondary btn-icon btn @(i >= Task.Details.Count - 1 ? "disabled" : "")"
                      @onclick="e => TaskStepMoveDown(index)">
                      <i class="ti ti-arrow-down" style="font-size: 16px;"></i>
                    </button>
                  </td>
                }
                <td>
                  @if (IsEditable())
                  {
                    <InputSelect id="@(AdvanceSelectElements[2] + i.ToString())" class="form-control form-control"
                      @bind-Value="taskDetail.WaypointId">
                      @if (taskDetail.WaypointName != null)
                      {
                        <option value="@taskDetail.WaypointId">@taskDetail.WaypointName</option>
                      }
                    </InputSelect>
                  }
                  else
                  {
                    <div class="col col-form-label col-form-label">@taskDetail.WaypointName</div>
                  }
                </td>
                <td>
                  @if (IsEditable())
                  {
                    <input type="text" class="form-control form-control" @bind="@Task.Details[index].CustomX">
                  }
                  else
                  {
                    <div class="col col-form-label col-form-label">@Task.Details[index].CustomX</div>
                  }
                </td>
                <td>
                  @if (IsEditable())
                  {
                    <input type="text" class="form-control form-control" @bind="@Task.Details[index].CustomY">
                  }
                  else
                  {
                    <div class="col col-form-label col-form-label">@Task.Details[index].CustomY</div>
                  }
                </td>
                <td>
                  @if (IsEditable())
                  {
                    <input type="text" class="form-control form-control" @bind="@Task.Details[index].CustomRotation">
                  }
                  else
                  {
                    <div class="col col-form-label col-form-label">@Task.Details[index].CustomRotation</div>
                  }
                </td>
                @if (IsEditable())
                {
                  <td>
                    <button type="button"
                      class="btn btn-ghost-danger btn-icon btn @(Task.Details.Count <= 1 ? "disabled" : "")"
                      @onclick="e => TaskRemoveStep(index)">
                      <i class="ti ti-trash" style="font-size: 16px;"></i>
                    </button>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
        @if (IsEditable())
        {
          <div class="row">
            <button type="button" class="btn btn-secondary w-8 mx-auto" @onclick="TaskAddStep">
              Add A Step
            </button>
          </div>
        }
        @if (Id != null)
        {
          <div class="mb-3 row">
            <label class="col-3 col-form-label">Create Time</label>
            <div class="col">
              <div class="col form-control-plaintext">@Task.CreatedAt</div>
            </div>
          </div>
          <div class="mb-3 row">
          <label class="col-3 col-form-label">Last Update Time</label>
          <div class="col">
            <div class="col form-control-plaintext">@Task.UpdatedAt</div>
          </div>
        </div>
        }
      </div>
      @if (IsEditable())
      {
        <div class="card-footer d-flex">
          @if (Id != null)
          {
            <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks/Delete" Context="Delete">
              <button type="button" class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
              </button>
            </AuthorizeView>
            <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks/Write" Context="Write">
              <button type="submit" class="btn btn-primary ms-auto">
                Update
              </button>
            </AuthorizeView>
            
          }
          else
          {
            <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks/Write" Context="Create">
              <button type="submit" class="btn btn-primary ms-auto">
                Create
              </button>
            </AuthorizeView>
          }
        </div>
      }
      else if (Task.CurrentProgress.Id != (int)ProgressState.Completed && Task.CurrentProgress.Id != (int)ProgressState.Aborted)
      {
        <div class="card-footer d-flex">
          <button type="button" class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#abortModal">
            Abort
          </button>
        </div>
      }
    </EditForm>
  </div>
</PageBody>

@if (Id != null)
{
  <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks/Delete" Context="DeleteModal">
    <DeleteEntryModal EntryName="Task" OnDelete="HandleDelete" />
  </AuthorizeView>
  <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Tasks/Write" Context="AbortModal">
    <AbortTaskModal OnAbort="HandleAbort" />
  </AuthorizeView>
}