@inherits AbstractTable

<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Realms</h3>
  </div>
  <!-- Filter -->
  <div class="card-body border-bottom py-3">
    <div class="d-flex">
      <div class="text-secondary">
        <div class="row g-2">
          <div class="col">
            Show
          </div>
          <div class="col-auto">
            <TablePageSizeSelect OnChange="HandlePageSizeChange" />
          </div>
          <div class="col-auto">
            entries
          </div>
        </div>
      </div>
      <div class="ms-auto text-secondary">
        Search:
      </div>
      <div class="text-secondary">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm ms-2" @bind="DataSearch">
          <button type="button" class="btn btn-sm" @onclick="HandleSearch">Search</button>
          <button type="button" class="btn btn-sm" @onclick="HandleClearSearch">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <thead>
        <tr>
          <th class="w-1">ID</th>
          <th>Name</th>
          <th>Description</th>
          <th class="w-1">Resolution</th>
          <th class="w-1"><!-- Action --></th>
        </tr>
      </thead>
      <tbody>
        @if (Realms != null)
        {
          @foreach (var realm in Realms)
          {
            var realmId = realm.Id;
            <tr>
              <td>@realm.Id</td>
              <td>@realm.Name</td>
              <td>@realm.Description</td>
              <td>@realm.Resolution</td>
              <td class="text-end">
                <a href="@(AppRoutes.Navigation.Maps.Index + $"/{realmId}")" class="page-link link-primary">Edit</a>
              </td>
            </tr>
          }
        }
        else
        {
          <TableLoading Columns="6" />
        }
      </tbody>
    </table>
    @if (Realms != null && Realms.Count() == 0)
    {
      <TableEmpty />
    }
  </div>
  <!-- Footer -->
  @if (PaginationHelper != null && Realms != null && Realms.Count() > 0)
  {
    <TablePagination PaginationHelper="PaginationHelper" ItemCount="Realms.Count()"
      OnPageChange="HandlePageChange" />
  }
</div>
